@model EcoCar.ViewModels.FinancialViewModel
@{
    Layout = "/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "Création de compte EcoCar";
}

<br />
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
</div>
<section class="sign-in-form" style="background-color: white;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-4">
                            <div class="card-body p-md-5 mx-md-4">
                                <div class="text-center">
                                    <h4 class="mt-1 mb-5 pb-1">Je crée mon compte EcoCar</h4>
                                </div>
                                @using (Html.BeginForm())
                    {
                        <div class="form-floating mb-3">
                            @Html.TextBoxFor(model => model.BankDetails.BankName, new { @class = "form-control", placeholder = "Nom de votre banque" , required="required"})
                            @Html.ValidationMessageFor(model => model.BankDetails.BankName)
                        </div>
                         <br>
                        <div class="form-floating mb-3">
                            @Html.TextBoxFor(model => model.BankDetails.Swift, new {@class = "form-control", placeholder = "Numéro SWIFT", required="required" })
                            @Html.ValidationMessageFor(model => model.BankDetails.Swift)
                        </div>
                         <br>
                        <div class="form-floating mb-3">
                            @Html.TextBoxFor(model => model.BankDetails.Iban, new {@class = "form-control", placeholder = "Numéro IBAN",required="required" })
                            @Html.ValidationMessageFor(model => model.BankDetails.Iban)
                        </div>
                         <br>

                         @Html.Hidden("personId", @ViewBag.personId, null)

                        <!-- Submit Button-->
                        <button class="btn btn-success btn-xl" type="submit">Suivant</button>
                    }
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                               <div>
                                 <img src=~/Images/CityEcoCar.png width="120%" />
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<br />
<br />
<br />
<br />
<br />
