@model List<EcoCar.Models.FinancialManagement.EcoStore>


@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "EcoStore";
}
<!--Pricing container Subscribe-->
<div id="pricing" class="container-fluid bg-grey">
    <div class="text-center">
        <h2>Abonnement</h2>
        <h4>Choisissez le type d'abonnement le plus adapté à vos besoins</h4>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Mensuel</h1>
                </div>
                <div class="panel-body">
                    <p><img src="~/Images/subMonth.png" style="width:125px;height:225;"></p>
                </div>
                <div class="panel-footer">
                    <h3>
                        @foreach (var ecoStore in Model)
                        {
                            @ecoStore.MonthlySubscriptionPrice
                        }
                    </h3>
                    <h4>tous les mois pour</h4>
                    <h3>
                        @foreach (var ecoStore in Model)
                        {
                            @ecoStore.MonthlySubscription
                        }
                    </h3>
                    <button type="submit" name="action" value="MonthlySubscription" class="btn btn-success btn-xl">Je m'abonne</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Trimestriel</h1>
                </div>
                <div class="panel-body">

                    <p><img src="~/Images/sub3Months.png" style="width:200px;height:300;"></p>
                </div>
                <div class="panel-footer">
                    <h3>
                        @foreach (var ecoStore in Model)
                        {
                            @ecoStore.TrimestrialSubscriptionPrice
                        }
                    </h3>
                    <h4>tous les 3 mois pour</h4>
                    <h3>
                        @foreach (var ecoStore in Model)
                        {
                            @ecoStore.TrimestrialSubscription
                        }
                    </h3>
                    <button type="submit" name="action" value="TrimestrialSubscription" class="btn btn-success btn-xl">Je m'abonne</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Semestriel</h1>
                </div>
                <div class="panel-body">

                    <p><img src="~/Images/sub6Months.png" style="width:200px;height:300;"></p>
                </div>
                <div class="panel-footer">
                    <h3>
                        @foreach (var ecoStore in Model)
                        {
                            @ecoStore.SemestrialSubscriptionPrice
                        }
                    </h3>
                    <h4>tous les 6 mois pour</h4>
                    <h3>
                        @foreach (var ecoStore in Model)
                        {
                            @ecoStore.SemestrialSubscription
                        }
                    </h3>
                    <button type="submit" name="action" value="SemestrialSubscription" class="btn btn-success btn-xl">Je m'abonne</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Pricing container Buy EcoCoins-->
<div id="pricing" class="container-fluid bg-grey">
    <div class="text-center">
        <h2>Achat EcoCoins</h2>
        <h4>Choisissez le lot EcoCoins le plus adapté à vos besoins</h4>
    </div>
    <div class="row slideanim">
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Lot 1</h1>
                </div>
                <div class="panel-body">
                    <p><img src="~/Images/EcoCoin.png" style="width:100px;height:100px;"></p>
                </div>
                <div class="panel-footer">
                    <h3>
                        @foreach (var ecoStore in Model)
                        {
                            @ecoStore.EcoCoinsBatchOnePrice
                        }
                    </h3>
                    <h4>pour</h4>
                    <h3>
                        @foreach (var ecoStore in Model)
                        {
                            @ecoStore.EcoCoinsBatchOne
                        }
                    </h3>
                    <button type="submit" name="action" value="SemestrialSubscription" class="btn btn-success btn-xl">J'achète</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Lot 2</h1>
                </div>
                <div class="panel-body">
                    <p>
                        <img src="~/Images/EcoCoin.png" style="width:100px;height:100px;">
                        <img src="~/Images/EcoCoin.png" style="width:100px;height:100px;">
                    </p>
                </div>
                <div class="panel-footer">
                    <h3>
                        @foreach (var ecoStore in Model)
                        {
                            @ecoStore.EcoCoinsBatchTwoPrice
                        }
                    </h3>
                    <h4>pour</h4>
                    <h3>
                        @foreach (var ecoStore in Model)
                        {
                            @ecoStore.EcoCoinsBatchTwo
                        }
                    </h3>
                    <button type="submit" name="action" value="EcoCoinsBatchTwo" class="btn btn-success btn-xl">J'achète</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Lot 3</h1>
                </div>
                <div class="panel-body">
                    <p>
                        <img src="~/Images/EcoCoin.png" style="width:100px;height:100px;">
                        <img src="~/Images/EcoCoin.png" style="width:100px;height:100px;">
                        <img src="~/Images/EcoCoin.png" style="width:100px;height:100px;">
                    </p>
                </div>
                <div class="panel-footer">
                    <h3>
                        @foreach (var ecoStore in Model)
                        {
                            @ecoStore.EcoCoinsBatchThree
                        }
                    </h3>
                    <h4>pour</h4>
                    <h3>
                        @foreach (var ecoStore in Model)
                        {
                            @ecoStore.EcoCoinsBatchThreePrice
                        }
                    </h3>
                    <button type="submit" name="action" value="EcoCoinsBatchThreePrice" class="btn btn-success btn-xl">J'achète</button>
                </div>
            </div>
        </div>
    </div>
</div>