@model EcoCar.ViewModels.FinancialViewModel
@{
    Layout = "/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "Facture EcoStore";
}

<div class=" container-fluid">
    <div class="row invoice row-printable">
        <!-- col-lg-12 start here -->
        <div class="panel panel-default plain" id="dash_0">
            <!-- Start .panel -->
            <div class="panel-body p30">
                <div class="row">
                    <!-- Start .row -->
                    <div class="col-lg-6">
                        <!-- col-lg-6 start here -->
                        <div class="invoice-logo"><img width="100" src="~/Images/EcoCarBig.png" alt="Invoice logo"></div>
                    </div>
                    <!-- col-lg-6 end here -->
                    <div class="col-lg-6">
                        <!-- col-lg-6 start here -->
                        <div class="invoice-from">
                            <ul class="list-unstyled text-right">
                                <li>@Model.User.Account.Username</li>
                                <li>@Model.User.BillingAddress.AddressLine</li>
                                <li>@Model.User.BillingAddress.PostalCode @Model.User.BillingAddress.City</li>
                                <li>@Model.User.BillingAddress.Country</li>
                            </ul>
                        </div>
                    </div>
                    <!-- col-lg-6 end here -->
                    <div class="col-lg-12">
                        <!-- col-lg-12 start here -->
                        <div class="invoice-details mt25">
                            <div class="well">
                                <ul class="list-unstyled mb0">
                                    <li><strong>Numéro de facture</strong> @Model.EcoStoreInvoice.Invoice.InvoiceNumber</li>
                                    <li><strong>Date d'émission de la facture</strong> @Model.EcoStoreInvoice.Invoice.InvoiceIssueDate.ToShortDateString()</</li>
                                    <li><strong>Heure d'émission de la facture</strong> @Model.EcoStoreInvoice.Invoice.InvoiceIssueDate.ToShortTimeString()</</li>
                                    <li><strong>Type de facture</strong> @Model.EcoStoreInvoice.Invoice.SelectInvoiceType</li>

                                </ul>
                            </div>
                        </div>
                        <div class="invoice-items">
                            <div class="table-responsive" style="overflow: hidden; outline: none;" tabindex="0">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="per70 text-center">Type d'achat</th>
                                            <th class="per25 text-center">Prix unitaire en €</th>
                                            <th class="per25 text-center">EcoCoins unitaire crédités</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (@Model.EcoStoreInvoice.QuantityBatchOne != 0)
                                        {
                                            <tr>
                                                <td>@Model.EcoStoreInvoice.QuantityBatchOne @Model.EcoStore.NameOne</td>
                                                <td class="text-center">@Model.EcoStore.EcoCoinsBatchOnePrice €</td>
                                                <td class="text-center">@Model.EcoStore.EcoCoinsBatchOne EcoCoins</td>
                                            </tr>

                                        }
                                        @if (@Model.EcoStoreInvoice.QuantityBatchTwo != 0)
                                        {
                                            <tr>
                                                <td>@Model.EcoStoreInvoice.QuantityBatchTwo @Model.EcoStore.NameTwo</td>
                                                <td class="text-center">@Model.EcoStore.EcoCoinsBatchTwoPrice €</td>
                                                <td class="text-center">@Model.EcoStore.EcoCoinsBatchTwo EcoCoins</td>
                                            </tr>

                                        }
                                        @if (@Model.EcoStoreInvoice.QuantityBatchThree != 0)
                                        {
                                            <tr>
                                                <td>@Model.EcoStoreInvoice.QuantityBatchThree @Model.EcoStore.NameThree</td>
                                                <td class="text-center">@Model.EcoStore.EcoCoinsBatchThreePrice €</td>
                                                <td class="text-center">@Model.EcoStore.EcoCoinsBatchThree EcoCoins</td>
                                            </tr>

                                        }
                                        @if (@Model.EcoStoreInvoice.QuantityMonthlySubscription != 0)
                                        {
                                            <tr>
                                                <td>@Model.EcoStoreInvoice.QuantityMonthlySubscription @Model.EcoStore.NameMonth</td>
                                                <td class="text-center">@Model.EcoStore.MonthlySubscriptionPrice €</td>
                                                <td class="text-center">@Model.EcoStore.MonthlySubscription EcoCoins</td>
                                            </tr>

                                        }@if (@Model.EcoStoreInvoice.QuantityTrimestrialSubscription != 0)
                                        {
                                            <tr>
                                                <td>@Model.EcoStoreInvoice.QuantityTrimestrialSubscription @Model.EcoStore.TrimestrialSubscription</td>
                                                <td class="text-center">@Model.EcoStore.TrimestrialSubscriptionPrice €</td>
                                                <td class="text-center">@Model.EcoStore.TrimestrialSubscription EcoCoins</td>
                                            </tr>

                                        }
                                        @if (@Model.EcoStoreInvoice.QuantitySemestrialSubscription != 0)
                                        {
                                            <tr>
                                                <td>@Model.EcoStoreInvoice.QuantitySemestrialSubscription @Model.EcoStore.SemestrialSubscription</td>
                                                <td class="text-center">@Model.EcoStore.SemestrialSubscriptionPrice €</td>
                                                <td class="text-center">@Model.EcoStore.SemestrialSubscription EcoCoins</td>
                                            </tr>

                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="1" class="text-right">Total:</th>
                                            <th class="text-center">@Model.EcoStoreInvoice.TotalPriceEuros €</th>
                                            <th class="text-center">Total EcoCoins</th>
                                        </tr>
                                    </tfoot>
                                </table>
                                <div class="float-right">
                                    <button type="button" id="cmd" class="btn btn-lg btn-success">Imprimer la facture</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="landscape">
    <center><img src="~/Images/Landscape1.png"></center>
</div>





