@model EcoCar.ViewModels.FinancialViewModel

@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "Mon Panier";
}

<br />
<div class="landscape">
    <center><img src="~/Images/EcoCart.png"></center>
</div>
@using (Html.BeginForm())
{
    <div class="container-fluid">
        <div class="table-responsive">
            <table class="table" id="userTable">
                <thead>
                    <tr class="header">
                        <th>Catégorie d'EcoAchat</th>
                        <th>Montant EcoCoins</th>
                        <th>Prix unitaire</th>
                        <th>Quantité</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>


                    @if (@Model.ShoppingCart.QuantityBatchOne != 0)
                    {
                        <tr>
                            <td class="product-name">@Model.EcoStore.NameOne</td>
                            <td class="product-eco-ecoin">@Model.EcoStore.EcoCoinsBatchOne</td>
                            <td id="unitaryPrice" class="product-line-price">@Model.EcoStore.EcoCoinsBatchOnePrice €</td>
                            <td class="col col-qty layout-inline">
                                @Html.TextBox("QuantityBatchOne",@Model.ShoppingCart.QuantityBatchOne, new{id="qty", @class ="form-control"})
                            </td>
                            <td>@Model.ShoppingCart.TotalBatchOne €</td>
                        </tr>
                    }
                    else
                    {
                        @Html.Hidden("QuantityBatchOne",0)
                    }



                    @if (@Model.ShoppingCart.QuantityBatchTwo != 0)
                    {
                        <tr>
                            <td class="product-name">@Model.EcoStore.NameTwo</td>
                            <td class="product-eco-ecoin">@Model.EcoStore.EcoCoinsBatchTwo</td>
                            <td class="product-line-price">@Model.EcoStore.EcoCoinsBatchTwoPrice €</td>
                            <td class="col col-qty layout-inline">
                                @Html.TextBox("QuantityBatchTwo",@Model.ShoppingCart.QuantityBatchTwo, new{id="qty", @class ="form-control"})
                            </td>
                            <td>@Model.ShoppingCart.TotalBatchTwo €</td>
                        </tr>
                    }
                    else
                    {
                        @Html.Hidden("QuantityBatchTwo",0)
                    }

                    @if (@Model.ShoppingCart.QuantityBatchThree != 0)
                    {
                        <tr>
                            <td class="product-name">@Model.EcoStore.NameThree</td>
                            <td class="product-eco-ecoin">@Model.EcoStore.EcoCoinsBatchThree</td>
                            <td class="product-line-price">@Model.EcoStore.EcoCoinsBatchThreePrice €</td>
                            <td class="col col-qty layout-inline">
                                @Html.TextBox("QuantityBatchThree",@Model.ShoppingCart.QuantityBatchThree, new{id="qty", @class ="form-control"})
                            </td>
                            <td>@Model.ShoppingCart.TotalBatchThree €</td>
                        </tr>
                    }
                    else
                    {
                        @Html.Hidden("QuantityBatchThree",0)
                    }
                    @if (@Model.ShoppingCart.QuantityMonthlySubscription != 0)
                    {
                        <tr>
                            <td class="product-name">@Model.EcoStore.NameMonth</td>
                            <td class="product-eco-ecoin">@Model.EcoStore.MonthlySubscription</td>
                            <td class="product-line-price">@Model.EcoStore.MonthlySubscriptionPrice €</td>
                            <td class="col col-qty layout-inline">
                                @Html.TextBox("QuantityMonthlySubscription",@Model.ShoppingCart.QuantityMonthlySubscription, new{@readonly = true,id="qty", @class ="form-control"})
                            </td>
                            <td>@Model.ShoppingCart.TotalMonthlySub €</td>
                        </tr>
                    }
                    else
                    {
                        @Html.Hidden("QuantityMonthlySubscription",0)
                    }
                    @if (@Model.ShoppingCart.QuantityTrimestrialSubscription != 0)
                    {
                        <tr>
                            <td class="product-name">@Model.EcoStore.NameTrimester</td>
                            <td class="product-eco-ecoin">@Model.EcoStore.TrimestrialSubscription</td>
                            <td class="product-line-price">@Model.EcoStore.TrimestrialSubscriptionPrice €</td>
                            <td class="col col-qty layout-inline">
                                @Html.TextBox("QuantityTrimestrialSubscription",@Model.ShoppingCart.QuantityTrimestrialSubscription, new{@readonly = true,id="qty", @class ="form-control"})
                            </td>
                            <td>@Model.ShoppingCart.TotalTrimestrialSub €</td>
                        </tr>
                    }
                    else
                    {
                        @Html.Hidden("QuantityTrimestrialSubscription",0)
                    }
                    @if (@Model.ShoppingCart.QuantitySemestrialSubscription != 0)
                    {
                        <tr>
                            <td class="product-name">@Model.EcoStore.NameSemester</td>
                            <td class="product-eco-ecoin">@Model.EcoStore.SemestrialSubscription</td>
                            <td class="product-line-price">@Model.EcoStore.SemestrialSubscriptionPrice €</td>
                            <td class="col col-qty layout-inline">
                                @Html.TextBox("QuantitySemestrialSubscription",@Model.ShoppingCart.QuantitySemestrialSubscription, new{@readonly = true,id="qty", @class ="form-control"})
                            </td>
                            <td>@Model.ShoppingCart.TotalSemestrialSub €</td>
                        </tr>
                    }
                    else
                    {
                        @Html.Hidden("QuantitySemestrialSubscription",0)
                    }
                    <tr>
                        <td class="product-name"></td>
                        <td class="product-eco-ecoin"></td>
                        <td class="product-line-price"></td>
                        <td class="col col-qty layout-inline">Sous-total</td>
                        <td class="product-total-price">@Model.ShoppingCart.TotalPriceEuros €</td>
                    </tr>
                </tbody>

            </table>
        </div>

        <div class="empty">
            <button class="submit-with-icon text-right" type="submit" formaction="EmptyShoppingCart">
                <span data-toggle="popover" data-placement="top" title="Vider mon panier" class="glyphicon glyphicon-erase text-success"></span>
            </button>
        </div>
        <div class="refresh">
            <button data-toggle="popover" data-placement="top" title="Rafraîchir mon panier" class="submit-with-icon text-right" type="submit" formaction="RefreshShoppingCart">
                <span class="glyphicon glyphicon-refresh text-success"></span>
            </button>
        </div>

        <button style="float: right;" class="btn btn-success btn-xl" type="submit" formaction="ShoppingCart">Valider la commande</button>
    </div>



}
<script>
    // RESTRICT INPUTS TO NUMBERS ONLY WITH A MIN OF 0 AND A MAX 100
    $('input').on('blur', function() {
        var input = $(this);
        var value = parseInt($(this).val());
        if (value < 0 || isNaN(value)) {
            input.val(0);
        } else if
            (value > 20) {
            input.val(100);
        }
    });

                }
</script>

<script>
    // Dismiss Popover on next click
    $('.popover-dismiss').popover({
        trigger: 'focus'
    })
</script>