@model EcoCar.ViewModels.FinancialViewModel

@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "Mon Panier";
}


<div class="landscape">
    <center><img src="~/Images/EcoCart.png"></center>
</div>
<div class="container px-3 my-5 clearfix">
    <!-- Shopping cart table -->

    <div class="card">

        <div class="card-header">
            <h2>Mon EcoCart</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered m-0">
                    <thead>
                        <tr>
                            <!-- Set columns width -->
                            <th class="text-center py-3 px-4" style="width: 200px;">EcoAchat</th>
                            <th class="text-right py-3 px-4" style="width: 200px;">Montant EcoCoins</th>
                            <th class="text-right py-3 px-4" style="width: 200px;">Prix en Euros</th>
                            <th class="text-right py-3 px-4" style="width: 200px;">Quantité</th>
                            <th class="product-line-price" style="width: 200px;">Total</th>
                            <th class="text-center py-3 px-4" style="width: 200px;">Vider mon panier</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td class="product-line-price">@Model.EcoStore.NameOne</td>
                            <td class="product-line-price">@Model.EcoStore.EcoCoinsBatchOne</td>
                            <td class="product-line-price">@Model.EcoStore.EcoCoinsBatchOnePrice</td>
                            <td class="product-line-price">@Model.ShoppingCart.QuantityBatchOne</td>
                            <td class="product-line-price">Total</td>
                            <td class="product-removal"><a href="#">Supprimer</a></td>
                        </tr>

                        <tr>
                            <td class="product-line-price">@Model.EcoStore.NameTwo</td>
                            <td class="product-line-price">@Model.EcoStore.EcoCoinsBatchTwo</td>
                            <td class="product-line-price">@Model.EcoStore.EcoCoinsBatchTwoPrice</td>
                            <td class="product-line-price">@Model.ShoppingCart.QuantityBatchTwo</td>
                            <td class="product-line-price">Total</td>
                            <td class="product-removal"><a href="#">Supprimer</a></td>
                        </tr>

                        <tr>
                            <td class="product-line-price">@Model.EcoStore.NameThree</td>
                            <td class="product-line-price">@Model.EcoStore.EcoCoinsBatchThree</td>
                            <td class="product-line-price">@Model.EcoStore.EcoCoinsBatchOnePrice</td>
                            <td class="product-line-price">@Model.ShoppingCart.QuantityBatchThree</td>
                            <td class="product-line-price">Total</td>
                            <td class="product-removal"><a href="#">Supprimer</a></td>
                        </tr>

                        <tr>
                            <td class="product-line-price">@Model.EcoStore.NameMonth</td>
                            <td class="product-line-price">@Model.EcoStore.MonthlySubscription</td>
                            <td class="product-line-price">@Model.EcoStore.MonthlySubscriptionPrice</td>
                            <td class="product-line-price">@Model.ShoppingCart.QuantityMonthlySubscription</td>
                            <td class="product-line-price">Total</td>
                            <td class="product-removal"><a href="#">Supprimer</a></td>
                        </tr>

                        <tr>
                            <td class="product-line-price">@Model.EcoStore.NameTrimester</td>
                            <td class="product-line-price">@Model.EcoStore.TrimestrialSubscription</td>
                            <td class="product-line-price">@Model.EcoStore.SemestrialSubscriptionPrice</td>
                            <td class="product-line-price">@Model.ShoppingCart.QuantityTrimestrialSubscription</td>
                            <td class="product-line-price">Total</td>
                            <td class="product-removal"><a href="#">Supprimer</a></td>
                        </tr>

                        <tr>
                            <td class="product-line-price">@Model.EcoStore.NameSemester</td>
                            <td class="product-line-price">@Model.EcoStore.SemestrialSubscription</td>
                            <td class="product-line-price">@Model.EcoStore.SemestrialSubscriptionPrice</td>
                            <td class="product-line-price">@Model.ShoppingCart.QuantitySemestrialSubscription</td>
                            <td class="product-line-price">Total</td>
                            <td class="product-removal"><a href="#">Supprimer</a></td>
                        </tr>





                    </tbody>
                </table>
            </div>


            <!-- / Shopping cart table -->
            <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
                <div class="d-flex">
                    <div class="text-right mt-4">
                        <label class="totals"><a href="/Financial/EcoStore/" target="_blank">EcoCoins dans votre EcoWallet: @Model.EcoWallet.EcoCoinsAmount</a></label><br />
                        <label class="totals">Prix Total à payer en Euros: @Model.ShoppingCart.TotalPriceEuros</label>
                        <div class="float-right">
                            <button type="button" class="btn btn-lg btn-primary mt-2">Payer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    /* Assign actions */

    $('.product-removal button').click(function() {
        removeItem(this);
    });


    /* Recalculate cart */
    function recalculateCart() {
        var subtotal = 0;

        /* Sum up row totals */
        $('.product').each(function() {
            subtotal += parseFloat($(this).children('.product-line-price').text());
        });

        /* Calculate totals */
        var total = subtotal;

        /* Update totals display */
        $('.totals-value').fadeOut(fadeTime, function() {
            $('#cart-subtotal').html(subtotal.toFixed(2));
            $('#cart-total').html(total.toFixed(2));
            if (total == 0) {
                $('.checkout').fadeOut(fadeTime);
            } else {
                $('.checkout').fadeIn(fadeTime);
            }
            $('.totals-value').fadeIn(fadeTime);
        });
    }


    /* Update quantity */
    function updateQuantity(quantityInput) {
        /* Calculate line price */
        var linePrice = parseFloat(productRow.children('.product-price').text());
    }


    /* Remove item from cart */
    function removeItem(removeButton) {
        /* Remove row from DOM and recalc cart total */
        var productRow = $(removeButton).parent().parent();
        productRow.slideUp(fadeTime, function() {
            productRow.remove();
            recalculateCart();
        });
    }
</script>