@model EcoCar.ViewModels.FinancialViewModel


@{
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
    ViewBag.Title = "EcoStore";
}

@using (Html.BeginForm())
{
    
<!--Pricing container Subscribe-->
<div id="pricing" class="container-fluid bg-grey">
    <div class="text-center">
        <h2>Abonnement</h2>
        <h4>Choisissez le type d'abonnement le plus adapté à vos besoins</h4>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Mensuel</h1>
                </div>
                <div class="panel-body">
                    <p><img src="~/Images/subMonth.png" style="width:125px;height:225;"></p>
                </div>
                <div class="panel-footer">
                    <h3 class="card-title">
                         @Html.TextBoxFor(model => model.EcoStore.MonthlySubscriptionPrice, new { @class = "form-control", placeholder = "Prix d'abonnement mensuel" }) €
                    </h3>
                    <h4>tous les mois pour</h4>
                    <h5 class="card-text">
                        @Html.TextBoxFor(model => model.EcoStore.MonthlySubscription, new { @class = "form-control", placeholder = "Montant EcoCoins/mois" }) EcoCoins/mois
                    </h5>

                        <button type="submit" name="action:Save" class="btn btn-success btn-xl">Mettre à jour l'EcoStore</button>
                    
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Trimestriel</h1>
                </div>
                <div class="panel-body">

                    <p><img src="~/Images/sub3Months.png" style="width:200px;height:300;"></p>
                </div>
                <div class="panel-footer">
                    <h3 class="card-title">
                         @Html.TextBoxFor(model => model.EcoStore.TrimestrialSubscriptionPrice, new { @class = "form-control", placeholder = "Prix d'abonnement trimestriel" }) €
                    </h3>
                    <h4>tous les mois pour</h4>
                    <h5 class="card-text">
                        @Html.TextBoxFor(model => model.EcoStore.TrimestrialSubscription, new { @class = "form-control", placeholder = "Montant EcoCoins/mois" }) EcoCoins/mois
                    </h5>



                        <button type="submit" name="action:Save" class="btn btn-success btn-xl">Mettre à jour l'EcoStore</button>
                    

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Semestriel</h1>
                </div>
                <div class="panel-body">

                   <p><img src="~/Images/sub6Months.png" style="width:200px;height:300;"></p>
                </div>
                <div class="panel-footer">
                    <h3 class="card-title">
                         @Html.TextBoxFor(model => model.EcoStore.SemestrialSubscriptionPrice, new { @class = "form-control", placeholder = "Prix d'abonnement semestriel" }) €
                    </h3>
                    <h4>tous les mois pour</h4>
                    <h5 class="card-text">
                        @Html.TextBoxFor(model => model.EcoStore.SemestrialSubscription, new { @class = "form-control", placeholder = "Montant EcoCoins/mois" }) EcoCoins/mois
                    </h5>
                   

                        <button type="submit" name="action:Save" class="btn btn-success btn-xl">Mettre à jour l'EcoStore</button>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!--Pricing container Buy EcoCoins-->
<div id="pricing" class="container-fluid">
    <div class="text-center">
        <h2>Achat EcoCoins</h2>
        <h4>Choisissez le lot EcoCoins le plus adapté à vos besoins</h4>
    </div>
    <div class="row slideanim">
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Lot 1</h1>
                </div>
                <div class="panel-body">
                    <p><img src="~/Images/EcoCoin.png" style="width:32%"></p>
                </div>
                <div class="panel-footer">
                    <h3 class="card-title">
                         @Html.TextBoxFor(model => model.EcoStore.EcoCoinsBatchOnePrice, new { @class = "form-control", placeholder = "Prix du lot 1" })€
                    </h3>
                    <h4>pour</h4>
                    <h5 class="card-text">
                        @Html.TextBoxFor(model => model.EcoStore.EcoCoinsBatchOne, new { @class = "form-control", placeholder = "Montant EcoCoins" }) EcoCoins
                    </h5>
              
 
  
                        <button type="submit" name="action:Save" class="btn btn-success btn-xl">Mettre à jour l'EcoStore</button>
                    
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Lot 2</h1>
                </div>
                <div class="panel-body">
                    <p>
                        <img src="~/Images/Batch2.png" style="width:50%">
                    </p>
                </div>
                <div class="panel-footer">
                    <h3 class="card-title">
                         @Html.TextBoxFor(model => model.EcoStore.EcoCoinsBatchTwoPrice, new { @class = "form-control", placeholder = "Prix du lot 2" })€
                    </h3>
                    <h4>pour</h4>
                    <h5 class="card-text">
                        @Html.TextBoxFor(model => model.EcoStore.EcoCoinsBatchTwo, new { @class = "form-control", placeholder = "Montant EcoCoins" }) EcoCoins
                    </h5>
            
  
                        <button type="submit" name="action:Save" class="btn btn-success btn-xl">Mettre à jour l'EcoStore</button>
                    
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Lot 3</h1>
                </div>
                <div class="panel-body">
                    <p>
                        <img src="~/Images/Batch3.png" style="width:42%">
                    </p>
                </div>
                <div class="panel-footer">
                    <h3 class="card-title">
                         @Html.TextBoxFor(model => model.EcoStore.EcoCoinsBatchThreePrice, new { @class = "form-control", placeholder = "Prix du lot 3" })€
                    </h3>
                    <h4>pour</h4>
                    <h5 class="card-text">
                        @Html.TextBoxFor(model => model.EcoStore.EcoCoinsBatchThree, new { @class = "form-control", placeholder = "Montant EcoCoins" }) EcoCoins
                    </h5>
                   

                        <button type="submit" name="action:Save" class="btn btn-success btn-xl">Mettre à jour l'EcoStore</button>
                    
                </div>
            </div>
        </div>
    </div>
</div>
}