@model EcoCar.ViewModels.ServiceViewModel
@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "Proposer une Prestation de Covoiturage";
}

<div class="container bootstrap snippets bootdey">
    <div class="panel-body inf-content">
        <div class="row">
            <div class="col-md-4">
                <h4>Proposer un service</h4>

                @using (Html.BeginForm())
                {
                    <div class="form-floating mb-3">
                        @Html.Label("Numero de reference de la prestation")
                        @Html.TextBoxFor(model => model.Service.ReferenceNumber, new{ @class = "form-control",@id="Refnunmber",@readonly = true,style="width:300px"})
                    </div>
                    <br>

                    <div class="form-outline mb-3">
                        @Html.Label("Date de debut")
                        @Html.EditorFor(model => model.Service.Start, new { htmlAttributes = new { @class = "form-control", style="width:300px"}})
                        @Html.ValidationMessageFor(model => model.Service.Start)
                    </div>
                    <br>

                    <div class="form-outline mb-3">
                        @Html.Label("Date de fin")
                        @Html.EditorFor(model => model.Service.End, new { htmlAttributes = new { @class = "form-control",style="width:300px"}})
                        @Html.ValidationMessageFor(model => model.Service.End)
                    </div>
                    <br>

                    <div class="form-outline mb-3">
                        @Html.Label("Type de Prestation")
                        @Html.TextBoxFor(model => model.Service.ReferenceNumber, new{ @class = "form-control",@id="Refnunmber",style="width:300px"})
                        @Html.ValidationMessageFor(model => model.Service.ReferenceNumber)
                    </div>
                    <br>

                    <button class="btn btn-success" type="submit">Soumettre</button>
                }
            </div>
            <div class="col-md-6">
                <img alt="" style="width:100%;" title="" src="~/Images/EcoCar.png">
            </div>

        </div>

    </div>
</div>

<hr class="solid">


