@model EcoCar.ViewModels.ServiceViewModel
@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "Proposer une Prestation";
}
<Center>
    <h4>Proposer un service</h4>
    @using (Html.BeginForm())
    {
        //Autofill of current Date: Date of publication of the service
        <div class="form-floating mb-3">
            @Html.Label("Date de publication de la prestation")
            @Html.TextBoxFor(model => model.Service.PublicationDate, new{@id="currentDate",@readonly = true})
        </div>
        <br>

        <div class="form-floating mb-3">
            @Html.Label("Numero de reference de la prestation")
            @Html.TextBoxFor(model => model.Service.ReferenceNumber, new{@id="Refnunmber",@readonly = true})
        </div>
        <br>


        <div class="form-outline mb-3">
            @Html.Label("Date de debut")
            @Html.EditorFor(model => model.Service.Start, new { htmlAttributes = new { @class = "form-control", style="width:200px"}})
            @Html.ValidationMessageFor(model => model.Service.Start)
        </div>
        <br>

        <div class="form-outline mb-3">
            @Html.Label("Date de fin")
            @Html.EditorFor(model => model.Service.End, new { htmlAttributes = new { @class = "form-control",style="width:200px"}})
            @Html.ValidationMessageFor(model => model.Service.Start)
        </div>
        <br>

        @*
            <div class="form-floating mb-3">

            @Html.Label("Type de la prestation")
            @Html.DropDownListFor(x => x.Service,new SelectList(Model.Service, "ServiceTypeId", "ServiceType", Model.CustomerId),"-- Select --")
            @Html.ValidationMessageFor(x => x.CustomerId)
        </div>
        <br>

        <button class="btn btn-success" type="submit">Soumettre</button>
        *@
    }


</Center>

<script>
    var today = new Date();
    var date = today.getDate() + '-' + (today.getMonth() + 1) + '-' + today.getFullYear();
    document.getElementById("currentDate").value = date;

    $(document).ready(function() {
        $(".datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
        });
    });

</script>

