@using static EcoCar.Models.ServiceManagement.CarPoolingService
@model EcoCar.Models.ServiceManagement.CarPoolingService
@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "Proposer une prestation de covoiturage";
}
<br />
<div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
</div>
<div class="container bootstrap snippets bootdey">
    <div class="panel-body inf-content">
        <div class="row">
            <div class="col-md-4">
                <h4>Proposer un service: Covoiturage</h4>

                @using (Html.BeginForm())
                {
                    <div class="form-floating mb-3">
                    @Html.Label("Type de covoiturage") <br>
                    @Html.DropDownListFor(model => model.SelectCarPoolingType,Html.GetEnumSelectList<CarPoolingType>(),"--Sélectionnez le type de covoiturage--",new {required = "required"})
                    <br><br></div>

                    <div class="form-floating mb-3">
                    @Html.Label("Nombres de passagers")  <br>
                    @Html.EditorFor(model => model.AvailableSeats, new { htmlAttributes = new { @class = "form-control", style="width:300px",required="required"}})
                    @Html.ValidationMessageFor(model => model.AvailableSeats)
                    <br></div>

                    <div class="form-floating mb-3">
                         @Html.CheckBoxFor(model => model.PetsAllowed, new { htmlAttributes = new { @class = "form-control", style="width:300px"}})
                    @Html.Label("Animaux de compagnie")
                    @Html.ValidationMessageFor(model => model.PetsAllowed) 
                    <br></div>

                    <div class="form-floating mb-3">
                    @Html.CheckBoxFor(model => model.SmokingAllowed, new { htmlAttributes = new { @class = "form-control", style="width:300px"}})
                    @Html.Label("Autorisation de fumer") 
                    @Html.ValidationMessageFor(model => model.SmokingAllowed)
                    <br></div>

                    <div class="form-floating mb-3">
                    @Html.CheckBoxFor(model => model.MusicAllowed, new { htmlAttributes = new { @class = "form-control", style="width:300px"}})
                    @Html.Label("Musique forte")
                    @Html.ValidationMessageFor(model => model.MusicAllowed)
                    <br></div>

                    <div class="form-floating mb-3">
                    @Html.CheckBoxFor(model => model.ChattingAllowed, new { htmlAttributes = new { @class = "form-control", style="width:300px"}})
                    @Html.Label("Discussion")
                    @Html.ValidationMessageFor(model => model.ChattingAllowed)
                    <br></div>

                    @Html.HiddenFor(model => model.ServiceId)
                    @Html.HiddenFor(model => model.TrajectoryId)
                    @Html.HiddenFor(model => model.VehiculeId)

                    <br>
                    <button class="btn btn-success" type="submit">Soumettre</button>
                }

            </div>
            <div class="col-md-6">
                <img alt="" style="width:100%;" title="" src="~/Images/Covoiturage.png">
            </div>
        </div>
    </div>
</div>