@using static EcoCar.Models.ServiceManagement.Trajectory
@model EcoCar.Models.ServiceManagement.Trajectory
@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "Définition des caractéristiques du trajet";
}

<div class="container bootstrap snippets bootdey">
    <div class="panel-body inf-content">
        <div class="row">
            <div class="col-md-4">
                <h4>Proposer un service</h4>

                @using (Html.BeginForm())
                {
                    @Html.Label("Durée approximative en heures")<br>
                    @Html.TextBoxFor(model => model.DurationHours, new { htmlAttributes = new { @class = "form-control", style="width:300px"}})
                    @Html.ValidationMessageFor(model => model.DurationHours)
                    <br>

                    @Html.Label("Nombre d'arrêts prévus") <br>
                    @Html.TextBoxFor(model => model.StopNumber, new { htmlAttributes = new { @class = "form-control", style="width:300px"}})
                    @Html.ValidationMessageFor(model => model.StopNumber)
                    <br>

                    @Html.Label("Durée approximative d'un arrêt (en minutes)") <br>
                    @Html.TextBoxFor(model => model.StopsDurationMinutes, new { htmlAttributes = new { @class = "form-control", style="width:300px"}})
                    @Html.ValidationMessageFor(model => model.StopsDurationMinutes)

                    <br>
                    @Html.Label("Adresse de départ") <br>
                    @Html.TextBoxFor(model => model.PickUpAddress, new { htmlAttributes = new { @class = "form-control", style="width:300px"}})
                    @Html.ValidationMessageFor(model => model.PickUpAddress)

                    <br>
                    @Html.Label("Adresse d'arrivée") <br>
                    @Html.TextBoxFor(model => model.DeliveryAddress, new { htmlAttributes = new { @class = "form-control", style="width:300px"}})
                    @Html.ValidationMessageFor(model => model.DeliveryAddress)

                    <br>
                    @Html.Label("Nature du trajet") <br>
                    @Html.DropDownListFor(model => model.SelectTrajectoryType, new SelectList(Enum.GetValues(typeof(TrajectoryType))),"--Selectionnez le type de trajet--")
                    @Html.ValidationMessageFor(model => model.SelectTrajectoryType)

                    @Html.HiddenFor(model => model.ItineraryId)

                    <br>
                    <button class="btn btn-success" type="submit">Soumettre</button>
                }

            </div>
            
            <div class="col-md-6">
                <img alt="" style="width:100%;" title="" src="~/Images/Itinerary.png">
            </div>
        </div>
    </div>
</div>

<hr class="solid">

