@using static EcoCar.Models.ServiceManagement.Service

@model EcoCar.ViewModels.ServiceViewModel
@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "Rechercher un service";
}
<!--Add a form with an input field and a button-->



<div class="container-fluid bg-grey">
    @*Service List Display*@
    <div class="table-responsive">
        <center><input style="width:50%" type="text" id="searchInput" onkeyup="myFunction()" placeholder="Rechercher une prestation..."></center><br />
        <table class="table" id="userTable">
            <thead>
                <tr class="header">
                    <th>Date de début</th>
                    <th>Type de service</th>
                    <th>Numéro de réference</th>
                    <th>Disponibilité</th>
                    <th>Reserver</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var carPoolingService in Model.CarPoolingServices)
                {
                    <tr>
                        <td>@carPoolingService.Service.Start</td>
                        <td>@carPoolingService.Service.SelectServiceType</td>
                        <td>@carPoolingService.Service.ReferenceNumber</td>
                        <td>@carPoolingService.Service.IsAvailable</td>
                        <td> <a href="/Service/ReserveCarPoolingService/@carPoolingService.Id"><span class="glyphicon glyphicon-paperclip  text-success"></span></a></td>
                    </tr>
                }
                @foreach (var carRentalService in Model.CarRentalServices)
                {
                    <tr>
                        <td>@carRentalService.Service.Start</td>
                        <td>@carRentalService.Service.SelectServiceType</td>
                        <td>@carRentalService.Service.ReferenceNumber</td>
                        <td>@carRentalService.Service.IsAvailable</td>
                        <td> <a href="/Service/ReserveCarRentalService/@carRentalService.Id"><span class="glyphicon glyphicon-paperclip  text-success"></span></a></td>
                    </tr>

                   
                }

                @foreach (var parcelService in Model.ParcelServices)
                {
                    <tr>
                        <td>@parcelService.Service.Start</td>
                        <td>@parcelService.Service.SelectServiceType</td>
                        <td>@parcelService.Service.ReferenceNumber</td>
                        <td>@parcelService.Service.IsAvailable</td>
                    <td> <a href="/Service/ReserveParcelService/@parcelService.Id"><span class="glyphicon glyphicon-paperclip  text-success"></span></a></td>
                    </tr>
                }

                @Html.Hidden("serviceId",@ViewBag.serviceId,null)
                

            </tbody>
        </table>
    </div>
</div>

<hr class="solid">

<script>
    function myFunction() {
        var input, filter, table, tr, td, cell, i, j;
        filter = document.getElementById("searchInput").value.toLowerCase();
        table = document.getElementById("userTable");
        tr = table.getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            tr[i].style.display = "none";
            const tdArray = tr[i].getElementsByTagName("td");
            for (var j = 0; j < tdArray.length; j++) {
                const cellValue = tdArray[j];
                if (cellValue && cellValue.innerHTML.toLowerCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    break;
                }
            }
        }
    }

</script>
