
@model List<EcoCar.Models.ServiceManagement.Service>
@*@model IEnumerable<CarPoolingService>*@
@*@model EcoCar.Models.ServiceManagement.Trajectory*@
@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "EcoCar Accueil";
}
        <!--Add a form with an input field and a button-->
        
        <form action = "/service/ServicesFilter" method="get">
				<div id = "choix_typeService"><label> Rechercher par type de service : </label> <br/>  
					<select name="ServiceType" onChange = "submit()"> 
						<option value ="Tous">Tous</option> 
                        <option value ="CarPooling">Covoiturage</option>
                        <option value ="CarRental">Location de véhicule</option>
                        <option value ="Parcel">Transport de colis</option>
					</select>
                 </div>
        </form>
       _______________________________________________________________________________________
        @* VIEW CARPOOLING AND PARCEL SERVICES FOLLOWING A FILTER FROM ALL THE SERVICES
            Display as a title the pick up and delivery addresses (only for carpooling and parcel services)
            To use with @model EcoCar.Models.ServiceManagement.Trajectory
            Cannot use @foreach
        *@
        @*<div class="row justify-content-start">
			@foreach (var service in Model)
			{
				<div class="card col-6 m-5" style="width: 18rem;">
					<div class="card-body d-flex flex-column justify-content-between">
                        <div>
                            <h5 class="card-title">@Html.LabelFor(model => model.PickUpAddress) && @Html.LabelFor(model => model.DeliveryAddress) ; </h5>
                            @*<h5 class="card-title">@NOM DU SERVICE</h5>*@
                            <div class="my-3">
                               @* <img src="@sejour.ImagePath" width="200" height="200" />*@
                            @*</div>

                            <h6 class="card-subtitle mb-2 text-muted">@service.ReferenceNumber </h6>
                            <h6 class="card-subtitle mb-2 text-muted">@service.Start</h6>
                            <h6 class="card-subtitle mb-2 text-muted">@service.End</h6>
                           

                        </div>				

					</div>**@

        __________________________________________________________________________________________

         <div class="row justify-content-start">
			@foreach (var service in Model)
			{
				<div class="card col-6 m-5" style="width: 18rem;">
					<div class="card-body d-flex flex-column justify-content-between">
                        <div>
                            @*<h5 class="card-title">@Html.LabelFor(model => model.) && @Html.LabelFor(model => model.DeliveryAddress) ; </h5>*@
                            @*<h5 class="card-title">@NOM DU SERVICE</h5>*@
                            <div class="my-3">
                               @* <img src="@sejour.ImagePath" width="200" height="200" />*@
                            </div>

                            <h6 class="card-subtitle mb-2 text-muted">@service.ReferenceNumber </h6>
                            <h6 class="card-subtitle mb-2 text-muted">@service.Start</h6>
                            <h6 class="card-subtitle mb-2 text-muted">@service.End</h6>
                            <p class="card-text">@service.SelectServiceType</p>

                        </div>				

					</div>
				</div>
			}
       ]

			<div class="col-4 m-5" style="width: 18rem;">
        </div>
