@model EcoCar.ViewModels.AccountViewModel

@if (Model.Authentification)
{
    <h3>
        Vous êtes déjà authentifié avec le login :
        @Model.Account.Username
    </h3>
    @Html.ActionLink("Voulez-vous vous déconnecter ?", "Deconnexion")
}
else
{
    <p>
        Veuillez vous authentifier :
    </p>
    using (Html.BeginForm())
    {
        <div>
            @Html.LabelFor(m => m.Account.Username)
            @Html.TextBoxFor(m => m.Account.Username)
            @Html.ValidationMessageFor(m => m.Account.Username)
        </div>
        <div>
            @Html.LabelFor(m => m.Account.Password)
            @Html.PasswordFor(m => m.Account.Password)
            @Html.ValidationMessageFor(m => m.Account.Password)
        </div>
        <input type="submit" value="Se connecter" />
        <br />
        @Html.ActionLink("Créer un compte", "CreerCompte")
    }
}
