@model EcoCar.ViewModels.AccountViewModel

@{
    Layout = "/Views/Shared/LayoutAdmin.cshtml";
    ViewBag.Title = "Tableau de bord administrateur";
}


<div class="container-fluid bg-grey">
    @*Users List Display*@
    <div class="table-responsive">
        <p style="float:left;font-variant:small-caps;font-weight:bold;font-size:larger">Utilisateurs</p><input style="width:50%;float:right" type="text" id="searchInput" onkeyup="myFunction()" placeholder="Rechercher un utilisateur">
        <br />
        <br />
        <table class="table" id="userTable">
            <thead>

                <tr class="header">
                    <th>Nom d'utilisateur</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>EcoStatus</th>
                    <th>Email</th>
                    <th>EcoMembre depuis</th>
                    <th>Montant EcoCoins</th>
                    <th>Formule d'abonnement</th>
                    <th>Actif</th>
                    <th>EcoSuspension</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var users in Model.Users)
                {
                 <tr>
                    <td><a href="/account/userprofile/@users.Id">@users.Account.Username</a></td>
                    <td>@users.Person.LastName</td>
                    <td>@users.Person.Name</td>
                    <td>@users.SelectEcoStatusType</td>
                    <td>@users.Email</td>
                    <td>@users.Account.CreationDate.ToShortDateString()</td>
                    <td>@users.EcoWallet.EcoCoinsAmount</td>
                    <td>@users.EcoWallet.Subscription</td>
                    <td>@users.Account.IsActive</td>
                    <td><a href="/Account/UserProfilePersonalByAdmin/@users.Id">Détails</a></td> 
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<br />
<div class="container-fluid bg-grey">
    @*Services List Display*@
    <div class="table-responsive">
        <p style="float:left;font-variant:small-caps;font-weight:bold;font-size:larger">Prestations proposées</p><input style="width:50%;float:right" type="text" id="searchInput" onkeyup="myFunction()" placeholder="Rechercher une prestation">
        <table class="table" id="userTable">
            <thead>
               
                <tr class="header">
                    <th>Date de début</th>
                    <th>Type de service</th>
                    <th>Numéro de réference</th>
                    <th>Provider</th>
                    <th>Statut</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                 @foreach (var carPoolingService in Model.CarPoolingServices)
                {
                <tr>
                    <td>@carPoolingService.Service.Start.ToShortDateString()</td>
                    <td>@carPoolingService.Service.SelectServiceType</td>
                    <td>@carPoolingService.Service.ReferenceNumber</td>
                        @foreach (var user in Model.Users.Where(u => u.Id == carPoolingService.Service.UserProviderId))
                        {
                            <td><a href="/Account/UserProfilePersonalByAdmin/@user.Id">@user.Account.Username</a></td>
                        }
                    <td>@carPoolingService.Service.IsAvailable</td>
                    <td><a href="/Service/AdminViewCarPoolingService/@carPoolingService.Id">Détails</a></td>

                </tr>
                }
                 @foreach (var carRentalService in Model.CarRentalServices)
                {
                <tr>
                    <td>@carRentalService.Service.Start.ToShortDateString()</td>
                    <td>@carRentalService.Service.SelectServiceType</td>
                    <td>@carRentalService.Service.ReferenceNumber</td>
                    @foreach (var user in Model.Users.Where(u => u.Id == carRentalService.Service.UserProviderId))
                        {
                            <td><a href="/Account/UserProfilePersonalByAdmin/@user.Id">@user.Account.Username</a></td>
                        }
                    <td>@carRentalService.Service.IsAvailable</td>
                    <td><a href="/Service/AdminViewCarRentalService/@carRentalService.Id">Détails</a></td>

                </tr>
                }
                 @foreach (var parcelService in Model.ParcelServices)
                {
                <tr>
                    <td>@parcelService.Service.Start.ToShortDateString()</td>
                    <td>@parcelService.Service.SelectServiceType</td>
                    <td>@parcelService.Service.ReferenceNumber</td>
                    @foreach (var user in Model.Users.Where(u => u.Id == parcelService.Service.UserProviderId))
                        {
                            <td><a href="/Account/UserProfilePersonalByAdmin/@user.Id">@user.Account.Username</a></td>
                        }
                    <td>@parcelService.Service.IsAvailable</td>
                    <td><a href="/Service/AdminViewParcelService/@parcelService.Id">Détails</a></td>

                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<br />
<div class="container-fluid bg-grey">
    @*Requests List Display*@
    <div class="table-responsive">
        <p style="float:left;font-variant:small-caps;font-weight:bold;font-size:larger">Prestations demandées</p><input style="width:50%;float:right" type="text" id="searchInput" onkeyup="myFunction()" placeholder="Rechercher une prestation">
        <table class="table" id="userTable">
            <thead>
                <tr class="header">
                    <th>Date de début</th>
                    <th>Type de service</th>
                    <th>Numéro de réference</th>
                    <th>Provider</th>
                    <th>Statut</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var carPoolingService in Model.CarPoolingServices.Where(c=>c.Service.IsRequest==true))
                {
                <tr>
                    <td>@carPoolingService.Service.Start.ToShortDateString()</td>
                    <td>@carPoolingService.Service.SelectServiceType</td>
                    <td>@carPoolingService.Service.ReferenceNumber</td>
                    @foreach (var user in Model.Users.Where(u => u.Id == carPoolingService.Service.UserProviderId))
                        {
                            <td><a href="/Account/UserProfilePersonalByAdmin/@user.Id">@user.Account.Username</a></td>
                        }
                    <td>@carPoolingService.Service.IsAvailable</td>
                    <td><a href="/Service/AdminViewCarPoolingService/@carPoolingService.Id">Détails</a></td>
                </tr>
                }
                 @foreach (var carRentalService in Model.CarRentalServices.Where(c=>c.Service.IsRequest==true))
                {
                <tr>
                    <td>@carRentalService.Service.Start.ToShortDateString()</td>
                    <td>@carRentalService.Service.SelectServiceType</td>
                    <td>@carRentalService.Service.ReferenceNumber</td>
                    @foreach (var user in Model.Users.Where(u => u.Id == carRentalService.Service.UserProviderId))
                        {
                            <td><a href="/Account/UserProfilePersonalByAdmin/@user.Id">@user.Account.Username</a></td>
                        }
                    <td>@carRentalService.Service.IsAvailable</td>
                    <td><a href="/Service/AdminViewCarRentalService/@carRentalService.Id">Détails</a></td>
                </tr>
                }
                 @foreach (var parcelService in Model.ParcelServices.Where(c=>c.Service.IsRequest==true))
                {
                <tr>
                    <td>@parcelService.Service.Start.ToShortDateString()</td>
                    <td>@parcelService.Service.SelectServiceType</td>
                    <td>@parcelService.Service.ReferenceNumber</td>
                    @foreach (var user in Model.Users.Where(u => u.Id == parcelService.Service.UserProviderId))
                        {
                            <td><a href="/Account/UserProfilePersonalByAdmin/@user.Id">@user.Account.Username</a></td>
                        }
                    <td>@parcelService.Service.IsAvailable</td>
                    <td><a href="/Service/AdminViewParcelService/@parcelService.Id">Détails</a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<br />
<div class="container-fluid bg-grey">
    @*Purchases List Display*@
    <div class="table-responsive">
        <p style="float:left;font-variant:small-caps;font-weight:bold;font-size:larger">EcoStore</p><input style="width:50%;float:right" type="text" id="searchInput" onkeyup="myFunction()" placeholder="Rechercher un achat">
        <table class="table" id="userTable">
            <thead>
                <tr class="header">
                    <th>Date d'achat</th>
                    <th>Type d'achat</th>
                    <th>Numéro de Facture</th>
                    <th>Provider</th>
                    <th>Consumer</th>
                    <th>Lien vers la Facture</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    function myFunction() {
        var input, filter, table, tr, td, cell, i, j;
        filter = document.getElementById("searchInput").value.toLowerCase();
        table = document.getElementById("userTable");
        tr = table.getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            tr[i].style.display = "none";
            const tdArray = tr[i].getElementsByTagName("td");
            for (var j = 0; j < tdArray.length; j++) {
                const cellValue = tdArray[j];
                if (cellValue && cellValue.innerHTML.toLowerCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    break;
                }
            }
        }
    }

</script>