@model EcoCar.ViewModels.AccountViewModel

@{
    Layout = "/Views/Shared/LayoutAdmin.cshtml";
    ViewBag.Title = "Tableau de bord administrateur";
}


<div class="container-fluid bg-grey">
    @*Users List Display*@
    <h2>Utilisateurs</h2>
    <div class="table-responsive">
        <center><input style="width:50%" type="text" id="searchInput" onkeyup="myFunction()" placeholder="Rechercher un utilisateur"></center><br />
        <table class="table" id="userTable">
            <thead>

                <tr class="header">
                    <th>Nom d'utilisateur</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>EcoRating</th>
                    <th>EcoStatus</th>
                    <th>Email</th>
                    <th>EcoMembre depuis</th>
                    <th>Montant EcoCoins</th>
                    <th>Formule d'abonnement</th>
                    <th>EcoSuspension</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var users in Model.Users)
                {
                 <tr>
                    <td><a href="/account/userprofile/@users.Id">@users.Account.Username</a></td>
                    <td>@users.Person.LastName</td>
                    <td>@users.Person.Name</td>
                    <td>@users.UserRating</td>
                    <td>@users.SelectEcoStatusType</td>
                    <td>@users.Email</td>
                    <td>@users.Account.CreationDate.ToShortDateString()</td>
                    <td>@users.EcoWallet.EcoCoinsAmount</td>
                    <td>@users.EcoWallet.Subscription</td>
                    <td><a href="/Account/UserProfilePersonalByAdmin/@users.Id" type="submit"> Détails</a></td> 
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="container-fluid">
    <h2>Prestations proposées</h2>
    @*Services List Display*@
    <div class="table-responsive">
        <center><input style="width:50%" type="text" id="searchInput" onkeyup="myFunction()" placeholder="Rechercher une prestation"></center><br />
        <table class="table" id="userTable">
            <thead>
               
                <tr class="header">
                    <th>Date de début</th>
                    <th>Type de service</th>
                    <th>Numéro de réference</th>
                    <th>Provider</th>
                    <th>Statut</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                 @foreach (var carPoolingService in Model.CarPoolingServices)
                {
                <tr>
                    <td>@carPoolingService.Service.Start.ToShortDateString()</td>
                    <td>@carPoolingService.Service.SelectServiceType</td>
                    <td>@carPoolingService.Service.ReferenceNumber</td>
                    <td>@carPoolingService.Service.UserProviderId</td>
                    <td>@carPoolingService.Service.IsAvailable</td>
                    <td>lien</td>

                </tr>
                }
                 @foreach (var carRentalService in Model.CarRentalServices)
                {
                <tr>
                    <td>@carRentalService.Service.Start.ToShortDateString()</td>
                    <td>@carRentalService.Service.SelectServiceType</td>
                    <td>@carRentalService.Service.ReferenceNumber</td>
                    <td>@carRentalService.Service.UserProviderId</td>
                    <td>@carRentalService.Service.IsAvailable</td>
                    <td>lien</td>

                </tr>
                }
                 @foreach (var parcelService in Model.ParcelServices)
                {
                <tr>
                    <td>@parcelService.Service.Start.ToShortDateString()</td>
                    <td>@parcelService.Service.SelectServiceType</td>
                    <td>@parcelService.Service.ReferenceNumber</td>
                    <td>@parcelService.Service.UserProviderId</td>
                    <td>@parcelService.Service.IsAvailable</td>
                    <td>lien</td>

                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="container-fluid bg-grey">
    <h2>Prestations demandées</h2>
    @*Requests List Display*@
    <div class="table-responsive">
        <center><input style="width:50%" type="text" id="searchInput" onkeyup="myFunction()" placeholder="Rechercher une demande de prestation"></center><br />
        <table class="table" id="userTable">
            <thead>

                <tr class="header">
                    <th>Date de début</th>
                    <th>Type de service</th>
                    <th>Numéro de réference</th>
                    <th>Provider</th>
                    <th>Statut</th>
                    <th>Supprimer</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var carPoolingService in Model.CarPoolingServices.Where(c=>c.Service.IsRequest==true))
                {
                <tr>
                    <td>@carPoolingService.Service.Start.ToShortDateString()</td>
                    <td>@carPoolingService.Service.SelectServiceType</td>
                    <td>@carPoolingService.Service.ReferenceNumber</td>
                    <td>@carPoolingService.Service.UserProviderId</td>
                    <td>@carPoolingService.Service.IsAvailable</td>
                    <td>lien</td>

                </tr>
                }
                 @foreach (var carRentalService in Model.CarRentalServices.Where(c=>c.Service.IsRequest==true))
                {
                <tr>
                    <td>@carRentalService.Service.Start.ToShortDateString()</td>
                    <td>@carRentalService.Service.SelectServiceType</td>
                    <td>@carRentalService.Service.ReferenceNumber</td>
                    <td>@carRentalService.Service.UserProviderId</td>
                    <td>@carRentalService.Service.IsAvailable</td>
                    <td>lien</td>

                </tr>
                }
                 @foreach (var parcelService in Model.ParcelServices.Where(c=>c.Service.IsRequest==true))
                {
                <tr>
                    <td>@parcelService.Service.Start.ToShortDateString()</td>
                    <td>@parcelService.Service.SelectServiceType</td>
                    <td>@parcelService.Service.ReferenceNumber</td>
                    <td>@parcelService.Service.UserProviderId</td>
                    <td>@parcelService.Service.IsAvailable</td>
                    <td>lien</td>

                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="container-fluid ">
    <h2>EcoStore</h2>
    @*Purchases List Display*@
    <div class="table-responsive">
        <center><input style="width:50%" type="text" id="searchInput" onkeyup="myFunction()" placeholder="Rechercher un achat"></center><br />
        <table class="table" id="userTable">
            <thead>

                <tr class="header">
                    <th>Date d'achat</th>
                    <th>Type d'achat</th>
                    <th>Numéro de Facture</th>
                    <th>Provider</th>
                    <th>Consumer</th>
                    <th>Lien vers la Facture</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    function myFunction() {
        var input, filter, table, tr, td, cell, i, j;
        filter = document.getElementById("searchInput").value.toLowerCase();
        table = document.getElementById("userTable");
        tr = table.getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            tr[i].style.display = "none";
            const tdArray = tr[i].getElementsByTagName("td");
            for (var j = 0; j < tdArray.length; j++) {
                const cellValue = tdArray[j];
                if (cellValue && cellValue.innerHTML.toLowerCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    break;
                }
            }
        }
    }

</script>