@model EcoCar.Models.PersonManagement.Vehicule
@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "Ajout de véhicule";
}

<div class="container bootstrap snippets bootdey">
    <div class="panel-body inf-content">
        <div class="row">
            <div class="col-md-4">
                <h4>Ajout de véhicule:</h4>

                @using (Html.BeginForm())
                {
                    <div class="form-floating mb-3">
                        @Html.Label("Marque du véhicule")<br>
                        @Html.EditorFor(model => model.Brand, new { htmlAttributes = new { @class = "form-control", style="width:300px",required="required"}})
                        @Html.ValidationMessageFor(model => model.Brand)
                    </div>
                    <br />

                    <div class="form-floating mb-3">
                        @Html.Label("Plaque d'immatriculation") <br>
                        @Html.EditorFor(model => model.RegistrationNumber, new { htmlAttributes = new { @class = "form-control", style="width:300px",required="required"}})
                        @Html.ValidationMessageFor(model => model.RegistrationNumber)
                    </div>
                    <br />

                    <div class="form-floating mb-3">
                        @Html.Label("Modèle du véhicule") <br>
                        @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control", style="width:300px",required="required"}})
                        @Html.ValidationMessageFor(model => model.Model)
                    </div>
                    <br />

                    <div class="form-floating mb-3">
                        @Html.CheckBoxFor(model => model.Hybrid, new { htmlAttributes = new { @class = "form-control", style="width:300px",required="required"}})
                        @Html.Label("Hybride")
                        @Html.ValidationMessageFor(model => model.Hybrid)
                    </div>
                    <br />

                    <div class="form-floating mb-3">
                        @Html.CheckBoxFor(model => model.Electric, new { htmlAttributes = new { @class = "form-control", style="width:300px",required="required"}})
                        @Html.Label("100% Electrique")
                        @Html.ValidationMessageFor(model => model.Electric)
                    </div>
                    <br />

                    <div class="form-floating mb-3">
                        @Html.Label("Date de fin de validité du contrôle technique")<br>
                        @Html.EditorFor(model => model.TechnicalTestExpiration, new { htmlAttributes = new { @class = "form-control", style="width:300px",required="required"}})
                        @Html.ValidationMessageFor(model => model.TechnicalTestExpiration)
                    </div>
                    <br />

                    <div class="form-floating mb-3">
                        @Html.Label("Nombre de sièges disponibles")<br>
                        @Html.EditorFor(model => model.AvailableSeats, new { htmlAttributes = new { @class = "form-control", style="width:300px",required="required"}})
                        @Html.ValidationMessageFor(model => model.AvailableSeats)
                    </div>
                    <br />

                    @Html.HiddenFor(model => model.InsuranceId)

                    <button class="btn btn-success" type="submit">Soumettre</button>
                }

            </div>
            <div class="col-md-6">
                <img alt="" style="width:100%;" title="" src="~/Images/Itinerary.png">
            </div>
        </div>
    </div>
</div>






