@model EcoCar.ViewModels.AccountViewModel

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}


    <section class="page-section portfolio mt-5">

        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Création de compte</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-7">
                    @using (Html.BeginForm())
                    {
                        <div class="form-floating mb-3">
                            @Html.TextBoxFor(model => model.Account.Username, new { @class = "form-control", placeholder = "Nom" })
                            @Html.LabelFor(model => model.Account.Username)
                            @Html.ValidationMessageFor(model => model.Account.Username)
                        </div>

                        <div class="form-floating mb-3">
                            @Html.TextBoxFor(model => model.Account.Password, new { @type = "password", @class = "form-control", placeholder = "Mot de passe" })
                            @Html.LabelFor(model => model.Account.Password)
                            @Html.ValidationMessageFor(model => model.Account.Password)
                        </div>
                        <!-- Submit Button-->
                        <button class="btn btn-primary btn-xl" type="submit">Créer</button>
                    }
                </div>
            </div>
        </div>
    </section>
