@model EcoCar.Models.PersonManagement.User
@{
    Layout = "/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "Mon profil";
}
<div class="container bootstrap snippets bootdey">
    <div class="panel-body inf-content">
        <div class="row">
            @using (Html.BeginForm("UpdateUser", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @*Profile picture Part with buttons*@
                <div class="col-md-4">
                    <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src="@Model.Person.ProfilePicturePath" data-original-title="Usuario">
                    <ul title="Ratings" class="list-inline ratings text-center">
                        <li>
                            <span>
                                <br>
                                Modifier ma photo de profil
                                @Html.HiddenFor(model=>model.Person.ProfilePicturePath)
                                @Html.LabelFor(model => model.Person.ProfilePicture, new { id = "imageLabel", @style = "text-align:center;" })
                                @Html.TextBoxFor(model => model.Person.ProfilePicture, new { placeholder = "Description", @type = "file" })


                                <br>
                            </span>
                        </li>
                    </ul>
                </div>
                @*Information*@
                <div class="col-md-6">
                    <span class="text-success"><strong>Information</strong><br></span>
                    <div class="table-responsive">

                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-user  text-success"></span>
                                        Prénom
                                    </td>
                                    <td class="text-success">

                                        @Html.TextBoxFor(model => model.Person.Name, new { @class = "form-control", placeholder = "Prénom" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-user  text-success"></span>
                                        Nom
                                    </td>
                                    <td class="text-success">


                                        @Html.TextBoxFor(model => model.Person.LastName, new { @class = "form-control", placeholder = "Nom" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-gift text-success"></span>
                                        Date de naissance
                                    </td>
                                    <td class="text-success">
                                        @Html.EditorFor(model => model.BirthDate, new { @class = "form-control", placeholder = "Date de naissance" })

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-inbox text-success"></span>
                                        Courriel
                                    </td>
                                    <td class="text-success">
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Courriel" })
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-phone text-success"></span>
                                        Numéro de téléphone
                                    </td>
                                    <td class="text-success">
                                        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", placeholder = "Numéro de téléphone" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-credit-card text-success"></span>
                                        Numéro de carte nationale d'identité
                                    </td>
                                    <td class="text-success">
                                        @Html.TextBoxFor(model => model.IdentityCardNumber, new { @class = "form-control", placeholder = "Numéro de carte d'identité" })
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-dashboard text-success"></span>
                                        Numéro de permis de conduire
                                    </td>
                                    <td class="text-success">
                                        @Html.TextBoxFor(model => model.DrivingPermitNumber, new { @class = "form-control", placeholder = "Numéro de permis de conduire" })
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-calendar text-success"></span>
                                        EcoMembre depuis
                                    </td>
                                    <td class="text-success">
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        @*EcoWallet*@
                        <span class="text-success"><strong>Mon EcoWallet</strong><br></span>
                        <div class="table-responsive">

                            <table class="table table-user-information">

                                <tbody>

                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-piggy-bank  text-success"></span>
                                            Montant EcoCoins
                                        </td>
                                        <td class="text-success">
                                            <a class="text-muted" href="/Financial/EcoStore">J'achète des EcoCoins</a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-leaf text-success"></span>
                                            Formule Abonnement
                                        </td>
                                        <td class="text-success">
                                            <a class="text-muted" href="/Financial/EcoStore">Je m'abonne</a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    @*Banking Details*@
                    <span class="text-success"><strong>Relevé d'identité bancaire</strong><br></span>
                    <div class="table-responsive">

                        <table class="table table-user-information">

                            <tbody>

                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-font  text-success"></span>
                                        Nom de l'agence bancaire
                                    </td>
                                    <td class="text-success">

                                        @Html.TextBoxFor(model => model.BankDetails.BankName, new { @class = "form-control", placeholder = "Agence bancaire" })

                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-sort-by-order-alt text-success"></span>
                                        Numéro SWIFT
                                    </td>
                                    <td class="text-success">
                                        @Html.TextBoxFor(model => model.BankDetails.Swift, new { @class = "form-control", placeholder = "Code SWIFT" })
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-sort-by-order text-success"></span>
                                        Numéro IBAN
                                    </td>
                                    <td class="text-success">
                                        @Html.TextBoxFor(model => model.BankDetails.Iban, new { @class = "form-control", placeholder = "IBAN" })
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    @*Billing Address*@
                    <span class="text-success"><strong>Adresse de facturation</strong><br></span>
                    <div class="table-responsive">

                        <table class="table table-user-information">

                            <tbody>

                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-map-marker  text-success"></span>
                                        Adresse
                                    </td>
                                    <td class="text-success">

                                        @Html.TextBoxFor(model => model.BillingAddress.AddressLine, new { @class = "form-control", placeholder = "Adresse" })

                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-picture text-success"></span>
                                        Vile
                                    </td>
                                    <td class="text-success">
                                        @Html.TextBoxFor(model => model.BillingAddress.City, new { @class = "form-control", placeholder = "Ville" })
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-tree-conifer text-success"></span>
                                        Région
                                    </td>
                                    <td class="text-success">
                                        @Html.TextBoxFor(model => model.BillingAddress.Region, new { @class = "form-control", placeholder = "Région" })
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-globe text-success"></span>
                                        Pays
                                    </td>
                                    <td class="text-success">
                                        @Html.TextBoxFor(model => model.BillingAddress.Country, new { @class = "form-control", placeholder = "Pays" })
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-send text-success"></span>
                                        Code Postal
                                    </td>
                                    <td class="text-success">
                                        @Html.TextBoxFor(model => model.BillingAddress.PostalCode, new { @class = "form-control", placeholder = "Code postal" })
                                    </td>
                                </tr>

                                @Html.HiddenFor(model =>model.BankDetailsId)
                                @Html.HiddenFor(model =>model.BillingAddressId)
                                @Html.HiddenFor(model =>model.PersonId)
                                @Html.HiddenFor(model =>model.AccountId)
                                @Html.HiddenFor(model =>model.VehiculeId)
                                @Html.HiddenFor(model =>model.EcoWalletId)


                            </tbody>
                        </table>

                    </div>

                    @*Insurance Details*@
                    @*<span class="text-success"><strong>Votre assurance</strong><br></span>
                    <div class="table-responsive">

                        <table class="table table-user-information">

                            <tbody>

                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-sort-by-alphabet  text-success"></span>
                                        Nom de l'assureur
                                    </td>
                                    <td class="text-success">

                                        @Html.TextBoxFor(model => model.Vehicule.Insurance.InsuranceAgency, new { @class = "form-control", placeholder = "Nom de l'assureur" })

                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-hourglass text-success"></span>
                                        Date de fin de validité de l'assurance
                                    </td>
                                    <td class="text-success">
                                        @Html.TextBoxFor(model => model.Vehicule.Insurance.InsuranceExpiration, new { @class = "form-control", placeholder = "Date de fin de validité de l'assurance" })
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-dashboard text-success"></span>
                                        Numéro du contrat d'assurance
                                    </td>
                                    <td class="text-success">
                                        @Html.TextBoxFor(model => model.Vehicule.Insurance.ContractNumber, new { @class = "form-control", placeholder = "Numéro du contrat d'assurance" })
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>*@

                    @*Vehicule Details*@
                    <span class="text-success"><strong>Votre véhicule</strong><br></span>
                    <div class="table-responsive">

                        <table class="table table-user-information">

                            <tbody>

                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-wrench text-success"></span>
                                        Marque du véhicule
                                    </td>
                                    <td class="text-success">

                                        @Html.TextBoxFor(model => model.Vehicule.Brand, new { @class = "form-control", placeholder = "Marque du véhicule" })

                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-sort-by-order text-success"></span>
                                        Plaque d'immatriculation
                                    </td>
                                    <td class="text-success">
                                        @Html.TextBoxFor(model => model.Vehicule.RegistrationNumber, new { @class = "form-control", placeholder = "Plaque d'immatriculation" })
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-modal-window text-success"></span>
                                        Modèle du véhicule
                                    </td>
                                    <td class="text-success">
                                        @Html.TextBoxFor(model => model.Vehicule.Model, new { @class = "form-control", placeholder = "Modèle du véhicule" })
                                    </td>
                                </tr>
                                 <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-grain text-success"></span>
                                        Hybride
                                    </td>
                                    <td class="text-success">
                                        @Html.TextBoxFor(model => model.Vehicule.Hybrid, new { @class = "form-control", placeholder = "Modèle du véhicule" })
                                    </td>
                                </tr>
                                 <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-flash text-success"></span>
                                        100% electrique
                                    </td>
                                    <td class="text-success">
                                        @Html.TextBoxFor(model => model.Vehicule.Electric, new { @class = "form-control", placeholder = "Modèle du véhicule" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-briefcase text-success"></span>
                                        Date de fin de validité du contrôle technique
                                    </td>
                                    <td class="text-success">
                                        @Html.TextBoxFor(model => model.Vehicule.TechnicalTestExpiration, new { @class = "form-control", placeholder = "Date de fin de validité du contrôle technique" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-user text-success"></span>
                                        Nombre de sièges disponibles
                                    </td>
                                    <td class="text-success">
                                        @Html.TextBoxFor(model => model.Vehicule.AvailableSeats, new { @class = "form-control", placeholder = "Nombre de sièges disponibles" })
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    @Html.HiddenFor(model =>model.Vehicule.InsuranceId, @Model.Vehicule.InsuranceId)
                </div>
                <center><button class="btn btn-success btn-xl" type="submit">Soumettre les modifications</button></center>

            }
        </div>

    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>