@model EcoCar.Models.PersonManagement.User
@{
    Layout = "/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "Mon profil";
}
    <div class="container bootstrap snippets bootdey">
        <div class="panel-body inf-content">
            <div class="row">
                @using (Html.BeginForm(FormMethod.Post))
                                {
                @*Profile picture Part with buttons*@
                <div class="col-md-4">
                    <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src="https://bootdey.com/img/Content/avatar/avatar7.png" data-original-title="Usuario">
                    <ul title="Ratings" class="list-inline ratings text-center">
                        <li>
                            <span>
                                <br>
                                Modifier ma photo de profil
                                @Html.TextBoxFor(model => model.Person.ProfilePictureURL, new { @class = "form-control", placeholder = "Votre image de profil", })
                                <input type="file" id="file" name="file" multiple>
                                <br>
                            </span>
                        </li>
                    </ul>
                </div>
                @*Information*@
                <div class="col-md-6">
                    <span class="text-success"><strong>Information</strong><br></span>
                    <div class="table-responsive">

                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-user  text-success"></span>
                                        Prénom
                                    </td>
                                    <td class="text-success">

                                        @Html.TextBoxFor(model => model.Person.Name, new { @class = "form-control", placeholder = "Prénom" })
                                <input type="file" id="file" name="file" multiple>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-user  text-success"></span>
                                        Nom
                                    </td>
                                    <td class="text-success">


                                        @Html.TextBoxFor(model => model.Person.LastName, new { @class = "form-control", placeholder = "Nom" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-tree-deciduous text-success"></span>
                                        EcoStatus
                                    </td>
                                    <td class="text-success">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-star text-success"></span>
                                        EcoRating
                                    </td>
                                    <td class="text-success">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-gift text-success"></span>
                                        Date de naissance
                                    </td>
                                    <td class="text-success">
                                        @Html.EditorFor(model => model.BirthDate, new { @class = "form-control", placeholder = "Date de naissance" })
                                      
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-ok text-success"></span>
                                        Courriel
                                    </td>
                                    <td class="text-success">
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Courriel" })
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-ok text-success"></span>
                                        Numéro de téléphone
                                    </td>
                                    <td class="text-success">
                                       @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", placeholder = "Numéro de téléphone" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-ok text-success"></span>
                                        Numéro de carte nationale d'identité
                                    </td>
                                    <td class="text-success">
                                        @Html.TextBoxFor(model => model.IdentityCardNumber, new { @class = "form-control", placeholder = "Numéro de carte d'identité" })
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-ok text-success"></span>
                                        Numéro de permis de conduire
                                    </td>
                                    <td class="text-success">
                                        @Html.TextBoxFor(model => model.DrivingPermitNumber, new { @class = "form-control", placeholder = "Numéro de permis de conduire" })
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-calendar text-success"></span>
                                        EcoMembre depuis
                                    </td>
                                    <td class="text-success">
                                  
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        @*EcoWallet*@
                        <span class="text-success"><strong>Mon EcoWallet</strong><br></span>
                        <div class="table-responsive">

                            <table class="table table-user-information">

                                <tbody>

                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-piggy-bank  text-success"></span>
                                            Montant EcoCoins
                                        </td>
                                        <td class="text-success">
                                            <a class="text-muted" href="/Financial/EcoStore">J'achète des EcoCoins</a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-leaf text-success"></span>
                                            Formule Abonnement
                                        </td>
                                        <td class="text-success">
                                            <a class="text-muted" href="/Financial/EcoStore">Je m'abonne</a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    @*Banking Details*@
                    <span class="text-success"><strong>Relevé d'identité bancaire</strong><br></span>
                    <div class="table-responsive">

                        <table class="table table-user-information">

                            <tbody>

                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-user  text-success"></span>
                                        Nom de l'agence bancaire
                                    </td>
                                    <td class="text-success">

                                      @Html.TextBoxFor(model => model.BankDetails.BankName, new { @class = "form-control", placeholder = "Agence bancaire" })

                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-ok text-success"></span>
                                        Numéro SWIFT
                                    </td>
                                    <td class="text-success">
                                        @Html.TextBoxFor(model => model.BankDetails.Swift, new { @class = "form-control", placeholder = "Code SWIFT" })
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-ok text-success"></span>
                                        Numéro IBAN
                                    </td>
                                    <td class="text-success">
                                        @Html.TextBoxFor(model => model.BankDetails.Iban, new { @class = "form-control", placeholder = "IBAN" })
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    @*Billing Address*@
                    <span class="text-success"><strong>Adresse de facturation</strong><br></span>
                    <div class="table-responsive">

                        <table class="table table-user-information">

                            <tbody>

                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-user  text-success"></span>
                                        Adresse
                                    </td>
                                    <td class="text-success">

                                        @Html.TextBoxFor(model => model.BillingAddress.AddressLine, new { @class = "form-control", placeholder = "Adresse" })

                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-ok text-success"></span>
                                        Vile
                                    </td>
                                    <td class="text-success">
                                        @Html.TextBoxFor(model => model.BillingAddress.City, new { @class = "form-control", placeholder = "Ville" })
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-ok text-success"></span>
                                        Région
                                    </td>
                                    <td class="text-success">
                                        @Html.TextBoxFor(model => model.BillingAddress.Region, new { @class = "form-control", placeholder = "Région" })
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-ok text-success"></span>
                                        Pays
                                    </td>
                                    <td class="text-success">
                                        @Html.TextBoxFor(model => model.BillingAddress.Country, new { @class = "form-control", placeholder = "Pays" })
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-ok text-success"></span>
                                        Code Postal
                                    </td>
                                    <td class="text-success">
                                        @Html.TextBoxFor(model => model.BillingAddress.PostalCode, new { @class = "form-control", placeholder = "Code postal" })
                                    </td>
                                </tr>
                                
                                    @Html.HiddenFor(model =>model.BankDetailsId)
                                    @Html.HiddenFor(model =>model.BillingAddressId)
                                    @Html.HiddenFor(model =>model.PersonId)
                                   

                            </tbody>
                        </table>
                        
                    </div>
                </div>
                <center><button class="btn btn-success btn-xl" type="submit">Soumettre les modifications</button></center>
              
            }
        </div>

    </div>
    </div>
   

<hr class="solid">

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>