@*@using static EcoCar.Models.MessagingManagement.UserReporting*@

@model EcoCar.ViewModels.AccountViewModel
@{
    Layout = "/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "Eco Profil";
}
<br>
<br>
<br>
<br>
<div class="container bootstrap snippets bootdey">
    <div class="panel-body inf-content">
        <div class="row">
            <div class="col-md-4">
                <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src=@Model.User.Person.ProfilePicturePath>
                <ul title="username" class="list-inline ratings text-center">
                    <h3>@Model.User.Account.Username</h3>
                </ul>
                <center>
                    <a class="btn btn-success" data-toggle="modal" data-target="#basicModal">Signaler @Model.User.Account.Username</a>
                    <br />  <br />
                    <a class="btn btn-success" data-toggle="modal" data-target="#basicModalSms">Contacter @Model.User.Account.Username</a>
                </center>
            </div>

            <div class="col-md-6">

                <strong>Information</strong><br>

                <div class="table-responsive">

                    <table class="table table-user-information">
                        <tbody>

                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-user  text-success"></span>
                                        Nom et prénom
                                    </strong>
                                </td>
                                <td class="text-success">
                                    <p>@Model.User.Person.LastName @Model.User.Person.Name</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-tree-deciduous text-success"></span>
                                        EcoStatus
                                    </strong>
                                </td>
                                <td class="text-success">
                                    <p>@Model.User.SelectEcoStatusType</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-star text-success"></span>
                                        EcoRating
                                    </strong>
                                </td>
                                <td class="text-success">
                                    <p>@Model.User.UserRating</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-gift  text-success"></span>
                                        Date de naissance
                                    </strong>
                                </td>
                                <td class="text-success">
                                    <p>@Model.User.BirthDate</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-ok text-success"></span>
                                        Email et numéro de téléphone vérifiés
                                    </strong>
                                </td>
                                <td class="text-success">
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-calendar text-success"></span>
                                        EcoMembre depuis
                                    </strong>
                                </td>
                                <td class="text-success">
                                    <p>@Model.Account.CreationDate.ToShortDateString()</p>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="services" class="container-fluid bg-grey">
    @*Service List Display*@
    <div class="table-responsive">
        <p style="float:left;font-variant:small-caps;font-weight:bold;font-size:larger">Prestations de @Model.User.Account.Username en cours</p><input style="width:50%;float:right" type="text" id="searchInput" onkeyup="myFunction()" placeholder="Prestations de @Model.User.Account.Username en cours...">
        <table class="table" id="userInvoices">
            <thead>
                <tr class="header">
                    <th>Date de début</th>
                    <th>Type de service</th>
                    <th>Numéro de réference</th>
                    <th>Prestation demandée</th>
                    <th>Consulter la prestation
                    <th>
                </tr>
            </thead>
            <tbody>
                @foreach (var carPoolingService in Model.CarPoolingServices.Where(c => c.Service.IsAvailable == true))
                {
                    <tr>
                        <td>@carPoolingService.Service.Start</td>
                        <td>@carPoolingService.Service.SelectServiceType</td>
                        <td>@carPoolingService.Service.ReferenceNumber</td>
                        <td>@carPoolingService.Service.IsRequest</td>
                        <td> <a href="/Service/ReserveCarPoolingService/@carPoolingService.Id"><span class="glyphicon glyphicon-paperclip  text-success"></span></a></td>
                    </tr>
                }
                @foreach (var carRentalService in Model.CarRentalServices.Where(c => c.Service.IsAvailable == true))
                {
                    <tr>
                        <td>@carRentalService.Service.Start</td>
                        <td>@carRentalService.Service.SelectServiceType</td>
                        <td>@carRentalService.Service.ReferenceNumber</td>
                        <td>@carRentalService.Service.IsRequest</td>
                        <td> <a href="/Service/ReserveCarRentalService/@carRentalService.Id"><span class="glyphicon glyphicon-paperclip  text-success"></span></a></td>
                    </tr>


                }

                @foreach (var parcelService in Model.ParcelServices)
                {
                    <tr>
                        <td>@parcelService.Service.Start</td>
                        <td>@parcelService.Service.SelectServiceType</td>
                        <td>@parcelService.Service.ReferenceNumber</td>
                        <td>@parcelService.Service.IsRequest</td>
                        <td> <a href="/Service/ReserveParcelService/@parcelService.Id"><span class="glyphicon glyphicon-paperclip  text-success"></span></a></td>
                    </tr>
                }

                @Html.Hidden("serviceId",@ViewBag.serviceId,null)


            </tbody>
        </table>
    </div>
</div>




<!-- The Modal SMS -->
<div class="modal fade" id="basicModalSms" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        @using (Html.BeginForm())
        {
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Fermer</button>
                    <h4 class="modal-title" id="myModalLabel">Contacter @Model.User.Account.Username</h4>
                </div>
                <div class="modal-body">
                    <center><img src="~/Images/MessageUser.png" style="width:50%;"></center>
                    <div class="form-outline mb-3">
                        @Html.TextBox("ReferenceNumber")
                        <br>
                    </div>
                    <div class="form-outline mb-3">
                        @Html.TextBox("MessageContent")
                        <br>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-right" type="submit" formaction="UserProfile">Envoyer</button>
                </div>
            </div>
        }
    </div>
</div>




@*<!-- The Modal Report -->
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Fermer</button>
                <h4 class="modal-title" id="myModalLabel">Signaler @Model.User.Account.Username</h4>
            </div>
            @using (Html.BeginForm())
            {
                <div class="modal-body">
                    <center><img src="~/Images/reporting.png" style="width:50%;"></center>
                    <div class="form-outline mb-3">
                        @Html.Label("Raison de signalement")<br>
                        @Html.DropDownListFor(model => model.UserReporting.SelectUserReportingType, Html.GetEnumSelectList<UserReportingType>(),"--Selectionnez le type de prestation--",new {required = "required"})
                        <br>
                    </div>
                    <div class="form-floating mb-3">
                        @Html.TextBox("ReportContent")
                        <br>
                    </div>
                </div>
            }
            <div class="modal-footer">
                <button class="btn btn-default pull-right" type="submit">Envoyez</button>
            </div>
        </div>
    </div>
</div>*@



<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
