@*@model EcoCar.Models.PersonManagement.Account*@
@*@model List<EcoCar.Models.PersonManagement.User>*@
@model EcoCar.ViewModels.AccountViewModel
@{
    Layout = "/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "Mon profil";
}


<div class="container bootstrap snippets bootdey">
    <div class="panel-body inf-content">
        <div class="row">

            @*Profile picture Part with buttons*@
            <div class="col-md-4">
                <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src=@Model.User.Person.ProfilePicturePath>
                <ul title="Username" class="list-inline ratings text-center">

                    <h3>@Model.User.Account.Username</h3>

                </ul>
                <button class="btn btn-success center-block" type="submit" onclick="location.href='/Account/UpdateUser/@Model.User.Id'">Modifier mon profil</button>
                <br>
                <button class="btn btn-success center-block" type="submit" onclick="location.href='/Account/CreateInsurance'">Ajouter un véhicule</button>
                <br />
            </div>


            <div class="container">
                <div class="row my-2">
                    <div class="col-md-8">


                        <div class="portlet-body">
                            <div>

                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a href="" data-target="#general" data-toggle="tab" class="nav-link active text-success">Général</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" data-target="#wallet" data-toggle="tab" class="nav-link text-success">EcoWallet</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" data-target="#rib" data-toggle="tab" class="nav-link text-success">RIB & Adresse de facturation</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" data-target="#vehicule" data-toggle="tab" class="nav-link text-success">Véhicule & Assurance</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" data-target="#sms" data-toggle="tab" class="nav-link text-success">Messagerie</a>
                                    </li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="general">
                                        <table class="table table-user-information">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-user  text-success"></span>
                                                        Nom et Prénom
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.User.Person.LastName @Model.User.Person.Name</p>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-tree-deciduous text-success"></span>
                                                        EcoStatus
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.User.SelectEcoStatusType</p>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-star text-success"></span>
                                                        EcoRating
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.User.UserRating</p>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-gift text-success"></span>
                                                        Date de naissance
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.User.BirthDate.ToShortDateString()</p>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-inbox text-success"></span>
                                                        Email
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.User.Email</p>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-phone text-success"></span>
                                                        Numéro de téléphone
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.User.PhoneNumber</p>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-credit-card text-success"></span>
                                                        Numéro de carte d'identité ou passeport

                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.User.IdentityCardNumber</p>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-dashboard text-success"></span>
                                                        Numéro de permis de conduire
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.User.DrivingPermitNumber</p>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-calendar text-success"></span>
                                                        EcoMembre depuis
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.Account.CreationDate.ToShortDateString()</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>



                                    <div class="tab-pane" id="wallet">
                                        <table class="table table-user-information">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-piggy-bank  text-success"></span>
                                                        Montant EcoCoins
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.EcoWallet.EcoCoinsAmount</p>
                                                    </td>
                                                </tr>

                                                @if (@Model.EcoWallet.Subscription == true)
                                                {
                                                    <tr>
                                                        <td>
                                                            <span class="glyphicon glyphicon-leaf text-success"></span>
                                                            Abonnement
                                                        </td>
                                                        <td class="text-success">

                                                            <p>Jusqu'au @Model.EcoWallet.SubscriptionExpiration.ToShortDateString()</p>
                                                        </td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td>
                                                            <span class="glyphicon glyphicon-leaf text-success"></span>
                                                            Abonnement
                                                        </td>
                                                        <td class="text-success">

                                                            <p> Pas d'abonnement en cours</p>
                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>



                                    <div class="tab-pane" id="rib">
                                        <table class="table table-user-information">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-font  text-success"></span>
                                                        Nom de l'agence bancaire
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.User.BankDetails.BankName</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-sort-by-order-alt text-success"></span>
                                                        Numéro SWIFT
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.User.BankDetails.Swift</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-sort-by-order text-success"></span>
                                                        Numéro IBAN
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.User.BankDetails.Iban</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-map-marker  text-success"></span>
                                                        Adresse
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.User.BillingAddress.AddressLine</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-picture text-success"></span>
                                                        Ville
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.User.BillingAddress.City</p>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-tree-conifer text-success"></span>
                                                        Région
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.User.BillingAddress.Region</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-globe text-success"></span>
                                                        Pays
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.User.BillingAddress.Country</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-send text-success"></span>
                                                        Code postal
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.User.BillingAddress.PostalCode</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="tab-pane" id="vehicule">
                                        <table class="table table-user-information">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-sort-by-alphabet  text-success"></span>
                                                        Nom de l'assureur
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.Insurance.InsuranceAgency</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-hourglass text-success"></span>
                                                        Date de fin de validité de l'assurance
                                                    </td>
                                                    <td class="text-success">

                                                        <p>@Model.Insurance.InsuranceExpiration</p>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-dashboard text-success"></span>
                                                        Numéro du contrat d'assurance
                                                    </td>
                                                    <td class="text-success">

                                                        <p>@Model.Insurance.ContractNumber</p>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-wrench text-success"></span>
                                                        Marque du véhicule
                                                    </td>
                                                    <td class="text-success">

                                                        <p>@Model.Vehicule.Brand</p>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-sort-by-order text-success"></span>
                                                        Plaque d'immatriculation
                                                    </td>
                                                    <td class="text-success">

                                                        <p>@Model.Vehicule.RegistrationNumber</p>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-modal-window text-success"></span>
                                                        Modèle du véhicule
                                                    </td>
                                                    <td class="text-success">

                                                        <p>@Model.Vehicule.Model</p>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-grain text-success"></span>
                                                        Hybride
                                                    </td>
                                                    <td class="text-success">

                                                        <p>@(Model.Vehicule.Hybrid ? "Oui":"Non")</p>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-flash text-success"></span>
                                                        100% Electrique
                                                    </td>
                                                    <td class="text-success">

                                                        <p>@(Model.Vehicule.Electric ? "Oui":"Non")</p>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-briefcase text-success"></span>
                                                        Date de fin de validité du contrôle technique
                                                    </td>
                                                    <td class="text-success">

                                                        <p>@Model.Vehicule.TechnicalTestExpiration</p>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-user text-success"></span>
                                                        Nombre de sièges disponibles
                                                    </td>
                                                    <td class="text-success">

                                                        <p>@Model.Vehicule.AvailableSeats</p>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>


                                    <div class="tab-pane" id="sms">
                                        <div class="table-responsive">
                                            <table class="table" id="userTable">
                                                <thead>

                                                    <tr class="header">
                                                        <th>Expéditeur </th>
                                                        <th>Prestation</th>
                                                        <th>Contenu du message</th>
                                                        <th>Répondre</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var message in Model.Messages.Where(m => m.ServiceConcerned.UserProviderId == @Model.User.Id))
                                                    {
                                                        <tr>
                                                            <td>
                                                                @foreach (var user in Model.Users.Where(x => x.Id == message.UserSenderId))
                                                                {
                                                                    @user.Account.Username
                                                                }
                                                            </td>
                                                            <td>
                                                                @message.ServiceConcerned.ReferenceNumber
                                                            </td>
                                                            <td>
                                                                @message.MessageContent
                                                            </td>
                                                            <td>
                                                                @using (Html.BeginForm())
                                                                {
                                                                    @Html.Hidden("ReferenceNumber",message.ServiceConcerned.ReferenceNumber)
                                                                    @Html.TextBox("MessageContent")
                                                                    @Html.Hidden("PreviousMessageUserId", message.UserSenderId)
                                                                    <button class="btn btn-success btn-xs pull-right" type="submit" formaction="UserToUserMessage">Répondre</button>
                                                                }

                                                            </td>
                                                        </tr>
                                                    }
                                                    @foreach (var message in Model.Messages.Where(m => (m.UserInitializingConversationId == @Model.User.Id) && m.UserSenderId != @Model.User.Id))
                                                    {
                                                        <tr>
                                                            <td>
                                                                @foreach (var user in Model.Users.Where(x => x.Id == message.UserSenderId))
                                                                {
                                                                    @user.Account.Username
                                                                }
                                                            </td>
                                                            <td>
                                                                @message.ServiceConcerned.ReferenceNumber
                                                            </td>
                                                            <td>
                                                                @message.MessageContent
                                                            </td>
                                                            <td>
                                                                @using (Html.BeginForm())
                                                                {
                                                                    @Html.Hidden("ReferenceNumber",message.ServiceConcerned.ReferenceNumber)
                                                                    @Html.TextBox("MessageContent")
                                                                    @Html.Hidden("PreviousMessageUserId", message.UserSenderId)
                                                                    <button class="btn btn-success btn-xs pull-right" type="submit" formaction="UserToUserMessage">Répondre</button>
                                                                }

                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />


<div id="services" class="container-fluid bg-grey">
    @*Service List Display*@
    <div class="table-responsive">
        <p style="float:left;font-variant:small-caps;font-weight:bold;font-size:larger">Mon historique de prestations</p><input style="width:50%;float:right" type="text" id="searchInput" onkeyup="myFunction()" placeholder="Rechercher une de mes prestations...">
        <table class="table" id="userInvoices">
            <thead>
                <tr class="header">
                    <th>Date de début</th>
                    <th>Type de service</th>
                    <th>Numéro de réference</th>
                    <th>Prestation demandée</th>
                    <th>Disponibilité</th>
                    <th>Supprimer la prestation</th>
                    <th>Consulter la facture</th>
                </tr>
            </thead>
            <tbody>
                @*Listing only carPoolingServices related to User (where User is provider & when user is consumer) and displaying in both case the appropriate ServiceInvoice link*@
                @foreach (var carPoolingService in Model.CarPoolingServices.Where(c => c.Service.UserProviderId == @Model.User.Id))
                {
                    <tr>
                        <td>@carPoolingService.Service.Start</td>
                        <td>@carPoolingService.Service.SelectServiceType</td>
                        <td>@carPoolingService.Service.ReferenceNumber</td>
                        <td>@carPoolingService.Service.IsRequest</td>
                        <td>@carPoolingService.Service.IsAvailable</td>
                        @if (@carPoolingService.Service.UserProviderId == @Model.User.Id)
                        {
                            @using (Html.BeginForm())
                            {
                                @Html.Hidden("Id",@carPoolingService.Id)
                                <td><button class="btn btn-outline-danger btn-xs" type="submit" formaction="DeleteCarPoolServiceByUser">Supprimer</button></td>
                            }
                        }
                        @if (@carPoolingService.Service.UserProviderId != @Model.User.Id)
                        {
                            <td></td>
                        }
                        <td>
                            @foreach (var serviceInvoice in Model.ServiceInvoices.Where(s => s.ServiceId == carPoolingService.ServiceId))
                            {
                                <a href="/Financial/ServiceInvoice/@serviceInvoice.Id"><span class="glyphicon glyphicon-folder-open  text-success"></span></a>
                            }
                        </td>

                    </tr>
                }

                @foreach (var reservations in Model.Reservations.Where(x => x.ServiceUserConsumerId == @Model.User.Id))
                {
                    @foreach (var carPoolingserviceR in Model.CarPoolingServices.Where(c => c.Service.Id == reservations.ServiceConsumedId))
                    {
                        <tr>
                            <td>@carPoolingserviceR.Service.Start</td>
                            <td>@carPoolingserviceR.Service.SelectServiceType</td>
                            <td>@carPoolingserviceR.Service.ReferenceNumber</td>
                            <td>@carPoolingserviceR.Service.IsRequest</td>
                            <td>@carPoolingserviceR.Service.IsAvailable</td>
                            @if (@carPoolingserviceR.Service.UserProviderId == @Model.User.Id)
                            {
                                @using (Html.BeginForm())
                                {
                                    @Html.Hidden("Id",@carPoolingserviceR.Id)
                                    <td><button class="btn btn-outline-danger btn-xs" type="submit" formaction="DeleteCarPoolServiceByUser">Supprimer</button></td>
                                }
                            }
                            @if (@carPoolingserviceR.Service.UserProviderId != @Model.User.Id)
                            {
                                <td></td>
                            }

                            <td>
                                @foreach (var serviceInvoice in Model.ServiceInvoices.Where(s => s.ServiceId == carPoolingserviceR.ServiceId))
                                {
                                    <a href="/Financial/ServiceInvoice/@serviceInvoice.Id"><span class="glyphicon glyphicon-folder-open  text-success"></span></a>
                                }
                            </td>
                        </tr>
                    }

                }
                @*Listing only carRentalServices related to User (where User is provider & when user is consumer) and displaying in both case the appropriate ServiceInvoice link*@
                @foreach (var carRentalService in Model.CarRentalServices.Where(c => c.Service.UserProviderId == @Model.User.Id))
                {
                    <tr>
                        <td>@carRentalService.Service.Start</td>
                        <td>@carRentalService.Service.SelectServiceType</td>
                        <td>@carRentalService.Service.ReferenceNumber</td>
                        <td>@carRentalService.Service.IsRequest</td>
                        <td>@carRentalService.Service.IsAvailable</td>
                        @if (@carRentalService.Service.UserProviderId == @Model.User.Id)
                        {
                            @using (Html.BeginForm())
                            {
                                @Html.Hidden("Id",@carRentalService.Id)
                                <td><button class="btn btn-outline-danger btn-xs" type="submit" formaction="DeleteCarRentalServiceByUser">Supprimer</button></td>
                            }
                        }
                        @if (@carRentalService.Service.UserProviderId != @Model.User.Id)
                        {
                            <td></td>
                        }
                        <td>
                            @foreach (var serviceInvoice in Model.ServiceInvoices.Where(s => s.ServiceId == carRentalService.ServiceId))
                            {
                                <a href="/Financial/ServiceInvoice/@serviceInvoice.Id"><span class="glyphicon glyphicon-folder-open  text-success"></span></a>
                            }
                        </td>
                    </tr>
                }
                @foreach (var reservations in Model.Reservations.Where(x => x.ServiceUserConsumerId == @Model.User.Id))
                {
                    @foreach (var carRentalServiceR in Model.CarRentalServices.Where(c => c.Service.Id == reservations.ServiceConsumedId))
                    {
                        <tr>
                            <td>@carRentalServiceR.Service.Start</td>
                            <td>@carRentalServiceR.Service.SelectServiceType</td>
                            <td>@carRentalServiceR.Service.ReferenceNumber</td>
                            <td>@carRentalServiceR.Service.IsRequest</td>
                            <td>@carRentalServiceR.Service.IsAvailable</td>
                            @if (@carRentalServiceR.Service.UserProviderId == @Model.User.Id)
                            {
                                @using (Html.BeginForm())
                                {
                                    @Html.Hidden("Id",@carRentalServiceR.Id)
                                    <td><button class="btn btn-outline-danger btn-xs" type="submit" formaction="DeleteCarRentalServiceByUser">Supprimer</button></td>
                                }
                            }
                            @if (@carRentalServiceR.Service.UserProviderId != @Model.User.Id)
                            {
                                <td></td>
                            }
                            <td>
                                @foreach (var serviceInvoice in Model.ServiceInvoices.Where(s => s.ServiceId == carRentalServiceR.ServiceId))
                                {
                                    <a href="/Financial/ServiceInvoice/@serviceInvoice.Id"><span class="glyphicon glyphicon-folder-open  text-success"></span></a>
                                }
                            </td>
                        </tr>
                    }

                }
                @*Listing only carRentalServices related to User (where User is provider & when user is consumer) and displaying in both case the appropriate ServiceInvoice link*@
                @foreach (var parcelService in Model.ParcelServices.Where(c => c.Service.UserProviderId == @Model.User.Id))
                {
                    <tr>
                        <td>@parcelService.Service.Start</td>
                        <td>@parcelService.Service.SelectServiceType</td>
                        <td>@parcelService.Service.ReferenceNumber</td>
                        <td>@parcelService.Service.IsRequest</td>
                        <td>@parcelService.Service.IsAvailable</td>
                        @if (@parcelService.Service.UserProviderId == @Model.User.Id)
                        {
                            @using (Html.BeginForm())
                            {
                                @Html.Hidden("Id",@parcelService.Id)
                                <td><button class="btn btn-outline-danger btn-xs" type="submit" formaction="DeleteParcelServiceByUser">Supprimer</button></td>
                            }
                        }
                        @if (@parcelService.Service.UserProviderId != @Model.User.Id)
                        {
                            <td></td>
                        }


                        <td>
                            @foreach (var serviceInvoice in Model.ServiceInvoices.Where(s => s.ServiceId == parcelService.ServiceId))
                            {
                                <a href="/Financial/ServiceInvoice/@serviceInvoice.Id"><span class="glyphicon glyphicon-folder-open  text-success"></span></a>
                            }
                        </td>
                    </tr>
                }
                @foreach (var reservations in Model.Reservations.Where(x => x.ServiceUserConsumerId == @Model.User.Id))
                {
                    @foreach (var parcelServiceR in Model.ParcelServices.Where(c => c.Service.Id == reservations.ServiceConsumedId))
                    {
                        <tr>
                            <td>@parcelServiceR.Service.Start</td>
                            <td>@parcelServiceR.Service.SelectServiceType</td>
                            <td>@parcelServiceR.Service.ReferenceNumber</td>
                            <td>@parcelServiceR.Service.IsRequest</td>
                            <td>@parcelServiceR.Service.IsAvailable</td>
                            @if (@parcelServiceR.Service.UserProviderId == @Model.User.Id)
                            {
                                @using (Html.BeginForm())
                                {
                                    @Html.Hidden("Id",@parcelServiceR.Id)
                                    <td><button class="btn btn-outline-danger btn-xs" type="submit" formaction="DeleteParcelServiceByUser">Supprimer</button></td>
                                }
                            }
                            @if (@parcelServiceR.Service.UserProviderId != @Model.User.Id)
                            {
                                <td></td>
                            }
                            <td>
                                @foreach (var serviceInvoice in Model.ServiceInvoices.Where(s => s.ServiceId == parcelServiceR.ServiceId))
                                {
                                    <a href="/Financial/ServiceInvoice/@serviceInvoice.Id"><span class="glyphicon glyphicon-folder-open  text-success"></span></a>
                                }
                            </td>
                        </tr>
                    }

                }
                @Html.Hidden("serviceId",@ViewBag.serviceId,null)


            </tbody>
        </table>
    </div>
</div>

<div class="container-fluid bg-grey">
    @*Purchases List Display*@
    <div class="table-responsive">
        <p style="float:left;font-variant:small-caps;font-weight:bold;font-size:larger">EcoStore</p><input style="width:50%;float:right" type="text" id="searchInvoice" onkeyup="searchInvoice()" placeholder="Rechercher un achat">
        <table class="table" id="userInvoices">
            <thead>
                <tr class="header">
                    <th>Date d'achat</th>
                    <th>Type d'achat</th>
                    <th>Numéro de Facture</th>
                    <th>Lien vers la Facture</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ecoStoreInvoice in Model.EcoStoreInvoices)
                {
                    <tr>
                        <td>@ecoStoreInvoice.Invoice.InvoiceIssueDate.ToShortDateString()</td>
                        <td>@ecoStoreInvoice.Invoice.SelectInvoiceType</td>
                        <td>@ecoStoreInvoice.Invoice.InvoiceNumber</td>
                        <td><a href="/Financial/EcoStoreInvoice/@ecoStoreInvoice.Id">Détails</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<br />

<script>
    function myFunction() {
        var input, filter, table, tr, td, cell, i, j;
        filter = document.getElementById("searchInput").value.toLowerCase();
        table = document.getElementById("userTable");
        tr = table.getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            tr[i].style.display = "none";
            const tdArray = tr[i].getElementsByTagName("td");
            for (var j = 0; j < tdArray.length; j++) {
                const cellValue = tdArray[j];
                if (cellValue && cellValue.innerHTML.toLowerCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    break;
                }
            }
        }
    }
</script>
<script>
    function searchInvoice() {
        var input, filter, table, tr, td, cell, i, j;
        filter = document.getElementById("searchInvoice").value.toLowerCase();
        table = document.getElementById("userInvoices");
        tr = table.getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            tr[i].style.display = "none";
            const tdArray = tr[i].getElementsByTagName("td");
            for (var j = 0; j < tdArray.length; j++) {
                const cellValue = tdArray[j];
                if (cellValue && cellValue.innerHTML.toLowerCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    break;
                }
            }
        }
    }
</script>


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>