@model EcoCar.ViewModels.AccountViewModel
@{
    Layout = "/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "Profil complet du membre";
}

<div class="container bootstrap snippets bootdey">
    <div class="panel-body inf-content">
        <div class="row">

            @*Profile picture Part with buttons*@
            <div class="col-md-4">
                <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src=@Model.User.Person.ProfilePicturePath>
                <ul title="Ratings" class="list-inline ratings text-center">
                    <li>
                        <span>
                            <a class="navbar-brand" href="/">@Model.User.Account.Username</a>
                        </span>
                    </li>
                </ul>
                <br />
                @using (Html.BeginForm())
                {
                    @Html.Hidden("userId",@Model.User.Id)

                    <button class="btn btn-success center-block" type="submit" onclick="location.href='/Account/UserProfilePersonalByAdmin/@Model.User.Id'"> Suspendre le profil</button>
                }
            </div>


            <div class="container">
                <div class="row my-2">
                    <div class="col-md-8">


                        <div class="portlet-body">
                            <div>

                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a href="" data-target="#general" data-toggle="tab" class="nav-link active text-success">Général</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" data-target="#wallet" data-toggle="tab" class="nav-link text-success">EcoWallet</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" data-target="#rib" data-toggle="tab" class="nav-link text-success">RIB & Adresse de facturation</a>
                                    </li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="general">
                                        <table class="table table-user-information">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-user  text-success"></span>
                                                        Nom et Prénom
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.User.Person.LastName @Model.User.Person.Name</p>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-tree-deciduous text-success"></span>
                                                        EcoStatus
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.User.SelectEcoStatusType</p>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-star text-success"></span>
                                                        EcoRating
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.User.UserRating</p>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-gift text-success"></span>
                                                        Date de naissance
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.User.BirthDate.ToShortDateString()</p>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-inbox text-success"></span>
                                                        Email
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.User.Email</p>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-phone text-success"></span>
                                                        Numéro de téléphone
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.User.PhoneNumber</p>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-credit-card text-success"></span>
                                                        Numéro de carte d'identité ou passeport

                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.User.IdentityCardNumber</p>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-dashboard text-success"></span>
                                                        Numéro de permis de conduire
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.User.DrivingPermitNumber</p>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-calendar text-success"></span>
                                                        EcoMembre depuis
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.Account.CreationDate.ToShortDateString()</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>



                                    <div class="tab-pane" id="wallet">
                                        <table class="table table-user-information">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-piggy-bank  text-success"></span>
                                                        Montant EcoCoins
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.EcoWallet.EcoCoinsAmount</p>
                                                    </td>
                                                </tr>

                                                @if (@Model.EcoWallet.Subscription == true)
                                                {
                                                    <tr>
                                                        <td>
                                                            <span class="glyphicon glyphicon-leaf text-success"></span>
                                                            Abonnement
                                                        </td>
                                                        <td class="text-success">

                                                            <p>Jusqu'au @Model.EcoWallet.SubscriptionExpiration.ToShortDateString()</p>
                                                        </td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td>
                                                            <span class="glyphicon glyphicon-leaf text-success"></span>
                                                            Abonnement
                                                        </td>
                                                        <td class="text-success">

                                                            <p> Pas d'abonnement en cours</p>
                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>



                                    <div class="tab-pane" id="rib">
                                        <table class="table table-user-information">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-font  text-success"></span>
                                                        Nom de l'agence bancaire
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.User.BankDetails.BankName</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-sort-by-order-alt text-success"></span>
                                                        Numéro SWIFT
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.User.BankDetails.Swift</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-sort-by-order text-success"></span>
                                                        Numéro IBAN
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.User.BankDetails.Iban</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>


                                        <table class="table table-user-information">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-map-marker  text-success"></span>
                                                        Adresse
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.User.BillingAddress.AddressLine</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-picture text-success"></span>
                                                        Ville
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.User.BillingAddress.City</p>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-tree-conifer text-success"></span>
                                                        Région
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.User.BillingAddress.Region</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-globe text-success"></span>
                                                        Pays
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.User.BillingAddress.Country</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="glyphicon glyphicon-send text-success"></span>
                                                        Code postal
                                                    </td>
                                                    <td class="text-success">
                                                        <p>@Model.User.BillingAddress.PostalCode</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>




                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div id="services" class="container-fluid bg-grey">
    <center><h2>Son historique de prestations</h2></center>
    @*Service List Display*@
    <div class="table-responsive">
        <center><input style="width:50%" type="text" id="searchInput" onkeyup="myFunction()" placeholder="Rechercher une de mes prestations..."></center><br />
        <table class="table" id="userTable">
            <thead>
                <tr class="header">
                    <th>Date de début</th>
                    <th>Type de service</th>
                    <th>Numéro de réference</th>
                    <th>Prestation demandée</th>
                    <th>Disponibilité</th>
                    <th>Consulter la facture</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var carPoolingService in Model.CarPoolingServices)
                {
                    <tr>
                        <td>@carPoolingService.Service.Start</td>
                        <td>@carPoolingService.Service.SelectServiceType</td>
                        <td>@carPoolingService.Service.ReferenceNumber</td>
                        <td>@carPoolingService.Service.IsRequest</td>
                        <td>@carPoolingService.Service.IsAvailable</td>
                        <td> <a href="/Service/ReserveCarPoolingService/@carPoolingService.Id"><span class="glyphicon glyphicon-paperclip  text-success"></span></a></td>
                    </tr>
                }
                @foreach (var carRentalService in Model.CarRentalServices)
                {
                    <tr>
                        <td>@carRentalService.Service.Start</td>
                        <td>@carRentalService.Service.SelectServiceType</td>
                        <td>@carRentalService.Service.ReferenceNumber</td>
                        <td>@carRentalService.Service.IsRequest</td>
                        <td>@carRentalService.Service.IsAvailable</td>
                        <td> <a href="/Service/ReserveCarRentalService/@carRentalService.Id"><span class="glyphicon glyphicon-paperclip  text-success"></span></a></td>
                    </tr>


                }

                @foreach (var parcelService in Model.ParcelServices)
                {
                    <tr>
                        <td>@parcelService.Service.Start</td>
                        <td>@parcelService.Service.SelectServiceType</td>
                        <td>@parcelService.Service.ReferenceNumber</td>
                        <td>@parcelService.Service.IsRequest</td>
                        <td>@parcelService.Service.IsAvailable</td>
                        <td> <a href="/Service/ReserveParcelService/@parcelService.Id"><span class="glyphicon glyphicon-paperclip  text-success"></span></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function myFunction() {
        var input, filter, table, tr, td, cell, i, j;
        filter = document.getElementById("searchInput").value.toLowerCase();
        table = document.getElementById("userTable");
        tr = table.getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            tr[i].style.display = "none";
            const tdArray = tr[i].getElementsByTagName("td");
            for (var j = 0; j < tdArray.length; j++) {
                const cellValue = tdArray[j];
                if (cellValue && cellValue.innerHTML.toLowerCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    break;
                }
            }
        }
    }
</script>



<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
