@*@model EcoCar.Models.PersonManagement.Account*@
@model List<EcoCar.Models.PersonManagement.User>
@{
    Layout = "/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "Mon profil";
}

<div class="container bootstrap snippets bootdey">
    <div class="panel-body inf-content">
        <div class="row">

            @*Profile picture Part with buttons*@
            <div class="col-md-4">
                <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src="https://bootdey.com/img/Content/avatar/avatar7.png" data-original-title="Usuario">
                <ul title="Ratings" class="list-inline ratings text-center">
                    <li>
                        <span>
                            @{
                                if (User.Identity.IsAuthenticated)
                                {
                                    <a class="navbar-brand" href="/">@User.Identity.Name</a>
                                }
                            }
                        </span>
                    </li>
                </ul>
                @foreach (var user in Model)
                {
                    <button class="btn btn-primary center-block" type="submit" onclick="location.href='/Account/UpdateUser/@user.Id'">Modifier mon profil</button>
                    <br>
                }
                <button class="btn btn-primary center-block" type="submit" onclick="location.href='/Account/CreateInsurance'">CreateVehicule</button>
            </div>


            @*Information*@
            <div class="col-md-6">
                <span class="text-success"><strong>Information</strong><br></span>
                <div class="table-responsive">

                    <table class="table table-user-information">

                        <tbody>

                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-user  text-success"></span>
                                    Nom et Prénom
                                </td>
                                <td class="text-success">

                                    @foreach (var user in Model)
                                    {
                                        <p>@user.Person.Name @user.Person.LastName</p>
                                    }

                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-tree-deciduous text-success"></span>
                                    EcoStatus
                                </td>
                                <td class="text-success">
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-star text-success"></span>
                                    EcoRating
                                </td>
                                <td class="text-success">
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-gift text-success"></span>
                                    Date de naissance
                                </td>
                                <td class="text-success">
                                    @foreach (var user in Model)
                                    {
                                        <p>@user.BirthDate</p>
                                    }
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-inbox text-success"></span>
                                    Email
                                </td>
                                <td class="text-success">
                                    @foreach (var user in Model)
                                    {
                                        <p>@user.Email</p>
                                    }
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-phone text-success"></span>
                                    Numéro de téléphone
                                </td>
                                <td class="text-success">
                                    @foreach (var user in Model)
                                    {
                                        <p>@user.PhoneNumber</p>
                                    }
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-credit-card text-success"></span>
                                    CNI

                                </td>
                                <td class="text-success">
                                    @foreach (var user in Model)
                                    {
                                        <p>@user.IdentityCardNumber</p>
                                    }
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-dashboard text-success"></span>
                                    Numéro de permis de conduire
                                </td>
                                <td class="text-success">
                                    @foreach (var user in Model)
                                    {
                                        <p>@user.DrivingPermitNumber</p>
                                    }
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-calendar text-success"></span>
                                    EcoMembre depuis
                                </td>
                                <td class="text-success">
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    @*EcoWallet*@
                    <span class="text-success"><strong>Mon EcoWallet</strong><br></span>
                    <div class="table-responsive">

                        <table class="table table-user-information">

                            <tbody>

                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-piggy-bank  text-success"></span>
                                        Montant EcoCoins
                                    </td>
                                    <td class="text-success">
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-leaf text-success"></span>
                                        Formule abonnement
                                    </td>
                                    <td class="text-success">
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

                @*Banking Details*@
                <span class="text-success"><strong>Relevé d'identité bancaire</strong><br></span>
                <div class="table-responsive">

                    <table class="table table-user-information">

                        <tbody>

                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-font  text-success"></span>
                                    Nom de votre Banque
                                </td>
                                <td class="text-success">

                                    @foreach (var user in Model)
                                    {
                                        <p>@user.BankDetails.BankName</p>
                                    }

                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-sort-by-order-alt text-success"></span>
                                    Numéro SWIFT
                                </td>
                                <td class="text-success">
                                    @foreach (var user in Model)
                                    {
                                        <p>@user.BankDetails.Swift</p>
                                    }
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-sort-by-order text-success"></span>
                                    Numéro IBAN
                                </td>
                                <td class="text-success">
                                    @foreach (var user in Model)
                                    {
                                        <p>@user.BankDetails.Iban</p>
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                @*Billing Address*@
                <span class="text-success"><strong>Votre adresse de Facturation</strong><br></span>
                <div class="table-responsive">

                    <table class="table table-user-information">

                        <tbody>

                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-map-marker  text-success"></span>
                                    Adresse
                                </td>
                                <td class="text-success">

                                    @foreach (var user in Model)
                                    {
                                        <p>@user.BillingAddress.AddressLine</p>
                                    }

                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-picture text-success"></span>
                                    Vile
                                </td>
                                <td class="text-success">
                                    @foreach (var user in Model)
                                    {
                                        <p>@user.BillingAddress.City</p>
                                    }
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-tree-conifer text-success"></span>
                                    Département
                                </td>
                                <td class="text-success">
                                    @foreach (var user in Model)
                                    {
                                        <p>@user.BillingAddress.Region</p>
                                    }
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-globe text-success"></span>
                                    Pays
                                </td>
                                <td class="text-success">
                                    @foreach (var user in Model)
                                    {
                                        <p>@user.BillingAddress.Country</p>
                                    }
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-send text-success"></span>
                                    Code Postale
                                </td>
                                <td class="text-success">
                                    @foreach (var user in Model)
                                    {
                                        <p>@user.BillingAddress.PostalCode</p>
                                    }
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="solid">
<div id="services" class="container-fluid text-center">
    <h2>Mon historique de prestations</h2>
    <br>
</div>

<hr class="solid">





<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>