
@model EcoCar.ViewModels.AccountViewModel
@{
    Layout = "/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "Eco Profil";
}
<br>
<br>
<br>
<br>
<div class="container bootstrap snippets bootdey">
    <div class="panel-body inf-content">
        <div class="row">
            <div class="col-md-4">
                <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src="https://bootdey.com/img/Content/avatar/avatar7.png" data-original-title="Usuario">
                <ul title="Ratings" class="list-inline ratings text-center">
                    @using (Html.BeginForm())
                    {
                        <li>
                            <span>
                            <p>@Model.User.Account.Username</p>
                             <br>
                            </span>
                        </li>
                    }
                </ul>
                <button class="btn btn-success center-block" type="submit" onclick="location.href='/Messaging/UserReporting'">Signaler l'utilisateur</button>
                <br> <button class="btn btn-success center-block" type="submit" onclick="location.href='/Messaging/Message'">Contacter l'utilisateur</button>
            </div>
            <div class="col-md-6">

                <strong>Information</strong><br>

                <div class="table-responsive">      
                        <p>@Model.User.BirthDate</p>
                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-user  text-success"></span>
                                        Nom et prénom
                                    </strong>
                                </td>
                                <td class="text-success">
                                    <p>@Model.User.Person.LastName @Model.User.Person.Name</p>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-tree-deciduous text-success"></span>
                                        EcoStatus
                                    </strong>
                                </td>
                                <td class="text-success">
                                    <p>@Model.User.SelectEcoStatusType</p>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-star text-success"></span>
                                        EcoRating
                                    </strong>
                                </td>
                                <td class="text-success">
                                   <p>@Model.User.UserRating</p>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-ok text-success"></span>
                                        Email et numéro de téléphone vérifiés
                                    </strong>
                                </td>
                                <td class="text-success">
                                    
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-calendar text-success"></span>
                                        EcoMembre depuis
                                    </strong>
                                </td>
                                <td class="text-success">
                                    <p>@Model.Account.CreationDate.ToShortDateString()</p>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="services" class="container-fluid bg-grey">
    <center><h2>Prestations de @Model.User.Account.Username en cours</h2></center>
  @*Service List Display*@
    <div class="table-responsive">
        <center><input style="width:50%" type="text" id="searchInput" onkeyup="myFunction()" placeholder="Prestations du membre en cours"></center><br />
        <table class="table" id="userTable">
            <thead>
                <tr class="header">
                    <th>Date de début</th>
                    <th>Type de service</th>
                    <th>Numéro de réference</th>
                    <th>Prestation demandée</th>
                    <th>Consulter la prestation<th>
                </tr>
            </thead>
            <tbody>
                @foreach (var carPoolingService in Model.CarPoolingServices.Where(c=>c.Service.IsAvailable==true))
                {
                    <tr>
                        <td>@carPoolingService.Service.Start</td>
                        <td>@carPoolingService.Service.SelectServiceType</td>
                        <td>@carPoolingService.Service.ReferenceNumber</td>
                        <td>@carPoolingService.Service.IsRequest</td>
                        <td> <a href="/Service/ReserveCarPoolingService/@carPoolingService.Id"><span class="glyphicon glyphicon-paperclip  text-success"></span></a></td>
                    </tr>
                }
                @foreach (var carRentalService in Model.CarRentalServices.Where(c=>c.Service.IsAvailable==true))
                {
                    <tr>
                        <td>@carRentalService.Service.Start</td>
                        <td>@carRentalService.Service.SelectServiceType</td>
                        <td>@carRentalService.Service.ReferenceNumber</td>
                        <td>@carRentalService.Service.IsRequest</td>
                        <td> <a href="/Service/ReserveCarRentalService/@carRentalService.Id"><span class="glyphicon glyphicon-paperclip  text-success"></span></a></td>
                    </tr>

                   
                }

                @foreach (var parcelService in Model.ParcelServices)
                {
                    <tr>
                        <td>@parcelService.Service.Start</td>
                        <td>@parcelService.Service.SelectServiceType</td>
                        <td>@parcelService.Service.ReferenceNumber</td>
                        <td>@parcelService.Service.IsRequest</td>
                    <td> <a href="/Service/ReserveParcelService/@parcelService.Id"><span class="glyphicon glyphicon-paperclip  text-success"></span></a></td>
                    </tr>
                }

                @Html.Hidden("serviceId",@ViewBag.serviceId,null)
                

            </tbody>
        </table>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>